---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blinko

spec:

  chartRef:
    kind: OCIRepository
    name: blinko

  interval: 1h

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: blinkospace/blinko
              tag: 1.6.5@sha256:e2894d3f6d9f58a9800494ddb6f978c484b87d9c2138200577eb3b98fe3f6117

            # command: ["sh", "-c", "prisma migrate deploy && node seed.js && node server.js"]

            env:
              TZ: America/New_York
              NODE_ENV: production
              NEXTAUTH_URL: https://notes.dmfrey.com
              NEXTAUTH_URL_INTERNAL: http://blinko.self-hosted.svc.cluster.local:1111
              NEXT_PUBLIC_BASE_URL: https://notes.dmfrey.com
              # NEXTAUTH_SECRET: set in externalsecret
              NEXT_PRIVATE_STANDALONE: true
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-blinko-app
                    key: uri

            resources:
              requests:
                memory: 350Mi
                cpu: 100m
              limits:
                memory: 1024Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 1111

    route:
      *app :
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://notes.dmfrey.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/name: Blinko Notes
          gethomepage.dev/icon: blinko.png
          gethomepage.dev/description: Notes
        hostnames:
          - notes.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      blinko-data:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /app/.blinko
            readOnly: false

      tmp:
        type: emptyDir
        medium: Memory
