---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: download
components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./autobrr/ks.yaml
  - ./cross-seed/ks.yaml
  # - ./flaresolverr/ks.yaml
  # - ./rdt-client/ks.yaml
  - ./nzbget/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./sabnzbd/ks.yaml

  # - ./slskd/ks.yaml
  # - ./soularr/ks.yaml

transformers:
  - |-
    apiVersion: builtin
    kind: LabelTransformer
    metadata:
      name: not-used
    labels:
      routed-gateway: "true"
    fieldSpecs:
      - kind: Namespace
        path: metadata/labels
        create: true