---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flaresolverr
  namespace: download

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:

      *app :

        containers:
          app:
            image:
              repository: flaresolverr/flaresolverr
              tag: v3.3.19

            env:
              TZ: ${TIMEZONE}
              TEST_URL: https://www.google.com
              PROMETHEUS_ENABLED: "true"
              PROMETHEUS_PORT: &metricsPort 8192

            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 1024Mi

    service:
      *app :
        controller: *app
        ports:
          http:
            port: 8191
          metrics:
            port: *metricsPort

    serviceMonitor:
      metrics:
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 10s
