---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd

spec:

  chartRef:
    kind: OCIRepository
    name: sabnzbd

  interval: 1h

  values:

    controllers:
      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"
          configmap.reloader.stakater.com/reload: sabnzbd-config
          secret.reloader.stakater.com/reload: sabnzbd-secret
          setGateway: "true"

        pod:
          enableServiceLinks: false

        # initContainers:
        #   fix-permissions:
        #     image:
        #       repository: busybox
        #       tag: stable

        #     command: ["sh", "-c", "chown -R 1000:1000 /config/*"]

        #     securityContext:
        #       runAsNonRoot: false
        #       readOnlyRootFilesystem: true
        #       allowPrivilegeEscalation: true
        #       runAsUser: 0
        #       runAsGroup: 0
        #       capabilities: { add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"], drop: ["ALL"] }

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5
              pullPolicy: IfNotPresent

            env:
              TZ: America/New_York
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                {{ .Release.Name }},
                {{ .Release.Name }}.download,
                {{ .Release.Name }}.download.svc,
                {{ .Release.Name }}.download.svc.cluster,
                {{ .Release.Name }}.dmfrey.com
              SABNZBD__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: sabnzbd-secret
                    key: SABNZBD_API_KEY

              SABNZBD__NZB_KEY:
                valueFrom:
                  secretKeyRef:
                    name: sabnzbd-secret
                    key: SABNZBD_NZB_KEY

            envFrom:
              - secretRef:
                  name: sabnzbd-secret

            ports:
              - name: http
                containerPort: *port

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            resources:
              requests:
                cpu: 5m
                memory: 1Gi
              limits:
                memory: 12Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          # exporter:
          #   image:
          #     repository: ghcr.io/onedr0p/exportarr
          #     tag: v2.1.0

          #   args:
          #     - *app

          #   env:
          #     URL: "http://localhost:8080"
          #     PORT: &metricsPort 9712
          #     APIKEY:
          #       valueFrom:
          #         secretKeyRef:
          #           name: sabnzbd-secret
          #           key: SABNZBD_API_KEY

          #   resources:
          #     requests:
          #       cpu: 10m
          #     limits:
          #       memory: 128Mi

          #   securityContext:
          #     allowPrivilegeEscalation: false
          #     readOnlyRootFilesystem: true
          #     capabilities:
          #       drop:
          #         - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 1568

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          # metrics:
          #   port: *metricsPort

    route:
      *app :
        hostnames: ["{{ .Release.Name }}.dmfrey.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: SABnzbd
          gethomepage.dev/icon: sabnzbd.png
          gethomepage.dev/description: NZB Download Client
          gethomepage.dev/widget.type: sabnzbd
          gethomepage.dev/widget.url: http://sabnzbd.download.svc.cluster.local:8080
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_SABNZBD_TOKEN}}` }}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          *app :
            fix-permissions:
              - path: /config
            *app :
              - path: /config

      sabnzbd-config:
        enabled: true
        type: configMap
        name: sabnzbd-config
        advancedMounts:
          sabnzbd:
            *app :
              - path: /tmp/sabnzbd.ini
                readOnly: false
                subPath: sabnzbd.ini

      downloads:
        type: nfs
        server: nas.internal
        path: /media
        globalMounts:
          - path: /media/downloads/nzb
            subPath: downloads/nzb

      tmp:
        type: emptyDir
        medium: Memory
        advancedMounts:
          *app :
            *app :
              - path: /tmp

    # serviceMonitor:
    #   metrics:
    #     serviceName: *app
    #     endpoints:
    #       - port: metrics
    #         scheme: http
    #         path: /metrics
    #         interval: 10m
    #         scrapeTimeout: 10s
