---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
components:
  - ../../components/common
resources:
  - ./esphome/ks.yaml
  # - ./go2rtc/ks.yaml
  - ./home-assistant/ks.yaml
  # - ./home-assistant-matter-hub/ks.yaml
  - ./matter-server/ks.yaml
  - ./mosquitto/ks.yaml
  # - ./openthread/ks.yaml
  - ./wyoming-services/ks.yaml
  - ./zigbee2mqtt/ks.yaml
