---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: home-gitops
  namespace: flux-system
spec:
  interval: 5m
  ref:
    branch: main
  secretRef:
    name: github-deploy-key
  url: ssh://git@github.com/dmfrey/home-gitops.git
  ignore: |
    # exclude all
    /*
    # include kubernetes directory
    !/kubernetes/homelab-k8s-001
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster
  namespace: flux-system
spec:
  interval: 2m
  path: ./kubernetes/homelab-k8s-001/flux
  prune: false
  wait: false
  sourceRef:
    kind: GitRepository
    name: home-gitops
  dependsOn:
    - name: flux
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: false
      - kind: Secret
        name: cluster-secrets
