---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openweb-db
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      name: openweb-cnpg
      namespace: ai
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/ai/openweb/openweb-db"
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openweb-kv
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  healthChecks:
    - apiVersion: dragonflydb.io/v1alpha1
      kind: Dragonfly
      name: openweb-dragonflydb
      namespace: ai
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/ai/openweb/openweb-kv"
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openweb
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: openweb-db
    - name: openweb-kv
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/ai/openweb/app"
  postBuild:
    substitute:
      APP: openweb
      VOLSYNC_CLAIM: openweb
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: true
