---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama-backend-pvc
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: ollama-backend
      VOLSYNC_CLAIM: ollama-backend-data
      VOLSYNC_CAPACITY: 10Gi
    substituteFrom: []
  dependsOn:
    - name: rook-ceph-cluster
    - name: volsync
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama-ui-pvc
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: ollama-ui
      VOLSYNC_CLAIM: ollama-ui-data
      VOLSYNC_CAPACITY: 2Gi
    substituteFrom: []
  dependsOn:
    - name: rook-ceph-cluster
    - name: volsync
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/apps/ai/ollama/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      BACKEND_CLAIM: ollama-backend-data
      UI_CLAIM: ollama-ui-data
    substituteFrom: []
  dependsOn:
    - name: intel-device-plugins-gpu
    - name: ollama-backend-pvc
    - name: ollama-ui-pvc
