---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex

spec:

  chartRef:
    kind: OCIRepository
    name: plex

  interval: 1h

  values:

    controllers:

      plex:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"
          backup.home.arpa/enabled: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871

            env:
              TZ: America/New_York
              PLEX_ADVERTISE_URL: https://plex.dmfrey.com:443,http://192.168.29.227:32400,plex.media.svc.cluster.local:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.0.0/16
              PLEX_PREFERENCE_NAME: "FriendlyName=homelab5767"
              PLEX_PREFERENCE_DLNA: "DlnaEnabled=1"
              PLEX_PREFERENCE_GDM: "GdmEnabled=1"
              PLEX_PREFERENCE_GPU: "HardwareAcceleratedCodecs=1"
              PLEX_PREFERENCE_INTERFACE: "PreferredNetworkInterface=eth0"
              PLEX_PREFERENCE_PORT_MAPPING: "ManualPortMappingMode=1"
              PLEX_PREFERENCE_MAPPED_PORT: "ManualPortMappingPort=443"
              PLEX_PREFERENCE_LAN: "LanNetworksBandwidth=192.168.0.0/16"

            envFrom:
              - secretRef:
                  name: plex-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        type: LoadBalancer
        annotations:
          # external-dns.alpha.kubernetes.io/hostname: &host plex.dmfrey.com
          lbipam.cilium.io/ips: 192.168.29.227 #, ::ffff:192.168.30.227
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port
            # primary: true
          # dnla-tcp:
          #   port: 32469
          #   protocol: TCP
          # dnla-udp:
          #   port: 1900
          #   protocol: UDP
          # bonjour-udp:
          #   port: 5353
          #   protocol: UDP
          # gdm-1:
          #   port: 32410
          #   protocol: UDP
          # gdm-2:
          #   port: 32412
          #   protocol: UDP
          # gdm-3:
          #   port: 32413
          #   protocol: UDP
          # gdm-4:
          #   port: 32414
          #   protocol: UDP

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://{{ .Release.Name }}.dmfrey.com/identity"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/href: "https://{{ .Release.Name }}.dmfrey.com"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Plex
          gethomepage.dev/icon: plex.png
          gethomepage.dev/description: Media Player
          gethomepage.dev/widget.type: plex
          gethomepage.dev/widget.url: http://plex.media.svc.cluster.local:32400
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_PLEX_TOKEN}}` }}"
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}

      # Separate PVC for cache to avoid backing up cache files
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs

      media:
        type: nfs
        server: nas.internal
        path: /media

      transcode:
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                storageClassName: ceph-block
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi

      tmp:
        type: emptyDir
        sizeLimit: 10Gi

      backup:
        type: nfs
        server: nas.internal
        path: /plexbackups/backups/plex
        globalMounts:
          - path: /config/Backups
            readOnly: false
