---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: self-hosted

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./affine/ks.yaml
  - ./homepage/ks.yaml
  - ./linkwarden/ks.yaml
  - ./omni-tools/ks.yaml
  # - ./thelounge/ks.yaml