---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app multus
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  decryption:
    provider: sops
  dependsOn: []
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/apps/kube-system/multus/app"
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 1m
  targetNamespace: kube-system
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app multus-config
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  decryption:
    provider: sops
  dependsOn:
    - name: multus
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/apps/kube-system/multus/config"
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 1m
  targetNamespace: kube-system
  timeout: 5m
  wait: true
