#shellcheck disable=SC2148,SC2155
# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/talos/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
# Talos
export TALOSCONFIG="$(expand_path ./kubernetes/talos/clusterconfig/talosconfig)"
# Venv
PATH_add "$(expand_path ./.venv/bin)"
export VIRTUAL_ENV="$(expand_path ./.venv)"
# export PYTHONDONTWRITEBYTECODE="1"
# Taskfile
export TASK_X_ENV_PRECEDENCE=1
export TASK_X_MAP_VARIABLES=0
# Bin
PATH_add "$(expand_path ./.bin)"
