# Editors

# Folders
ignore/
testing/
scratch/
bak/

# Trash
.DS_Store
Thumbs.db

# Binaries
bin
*.iso

# Sops
*.agekey
.decrypted~*
*.pub
*.key

# Ansible
.venv*

# Private
/.private/
/.bin/
/.task/

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

## terraform plan output
*tfplan*

## terraform variable files
*.tfvars

# Other files
kubeconfig
talosconfig

# Talos clusterconfigs
kubernetes/**/talos/clusterconfig
archive/kubernetes/talos

# Other
.env
*.snap
setup/cluster/*cluster.yml

Untitled-1.sh

*.key
.decrypted~*

.bak

Brewfile.lock.json

/.private/
/.task/
/.venv/
*.crt
*.key
kubeconfig
onepassword.env
talosconfig

/tmp/

kubernetes/apps/home/home-assistant/app/configuration/*
kubernetes/apps/home/home-assistant/app/dashboards/*
kubernetes/apps/home/home-assistant/app/details/*

.claude/settings.local.json
.claude/todos.json