---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./certificates/ks.yaml
  - ./cloudflare-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./echo/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-services/ks.yaml
  # - ./pod-gateway/ks.yaml
  - ./unifi-dns/ks.yaml
