---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app piper

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: piper

  maxHistory: 2

  install:
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.1.1

            args:
              - --voice=en_US-hfc_female-medium

            env:
              TZ: America/New_York

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 500m
                memory: 250Mi
              limits:
                memory: 500Mi

          api:
            image:
              repository: ghcr.io/matatonic/openedai-speech-min
              tag: 0.18.2

            env:
              TTS_HOME: voices
              HF_HOME: voices

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.29.102
        ports:
          *app :
            port: 10200
          http:
            port: &port 8000

    route:
      *app :
        hostnames: ["piper.dmfrey.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        type: configMap
        name: piper-config
        globalMounts:
          - path: /app/config

      data:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          *app :
            *app :
              - path: /data
            api:
              - path: /app/voices

      tmp:
        type: emptyDir
        medium: Memory
