---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: piper

spec:

  chartRef:
    kind: OCIRepository
    name: piper

  interval: 1h

  values:

    controllers:

      piper:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.1.2 # 1.6.3@sha256:2f5de2c89bfb87e7b625265315a9d9f6deb5db44cec3a3e9aa0087d002eac459

            args:
              - --voice
              - en_US-hfc_female-medium
              - --data-dir
              - /data

            env:
              TZ: America/New_York

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 350Mi

          # api:
          #   image:
          #     repository: ghcr.io/matatonic/openedai-speech-min
          #     tag: 0.18.2

          #   env:
          #     TTS_HOME: voices
          #     HF_HOME: voices

          #   securityContext:
          #     allowPrivilegeEscalation: false
          #     readOnlyRootFilesystem: true
          #     capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.29.102
        ports:
          app:
            http: 10200
          # http:
          #   port: &port 8000

    # route:
    #   *app :
    #     hostnames: ["piper.dmfrey.com"]
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: network
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - name: *app
    #             port: *port

    persistence:
      # config:
      #   type: configMap
      #   name: piper-config
      #   globalMounts:
      #     - path: /app/config

      data:
        existingClaim: "{{ .Release.Name }}"
        # advancedMounts:
        #   *app :
        #     *app :
        #       - path: /data
        #     api:
        #       - path: /app/voices

      tmp:
        type: emptyDir
        # medium: Memory
