---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-alert-manager
  namespace: flux-system
spec:
  targetNamespace: monitor
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname alert-manager
  path: "./kubernetes/apps/monitor/alert-manager/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: alertmanager
      VOLSYNC_CAPACITY: 50Mi
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
