---
apiVersion: infra.contrib.fluxcd.io/v1alpha1
kind: Terraform
metadata:
  name: sonarr-provisioner
  namespace: media
spec:

  interval: 15m
  path: ./

  approvePlan: auto

  sourceRef:
    kind: OCIRepository
    name: oci-terraform-sonarr
    namespace: flux-system

  writeOutputsToSecret:
    name: sonarr-tfstate

  varsFrom:
    - kind: Secret
      name: starr-apps-secret
    - kind: Secret
      name: sabnzbd-secret
