---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app linkwarden

spec:

  chartRef:
    kind: OCIRepository
    name: linkwarden

  interval: 1h

  values:

    controllers:

      linkwarden:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/linkwarden/linkwarden
              tag: v2.13.2@sha256:d663d4db5c7fbb605878a3705aeb4a654548b9011754ddfcee66dc5a40ac56df

            env:
              TZ: America/New_York
              # NODE_ENV: production

              STORAGE_FOLDER: "config" # Will always end up as /data/STOREAGE_FOLDER so eg /data/config
              HOME: /data/config
              PDF_MAX_BUFFER: 100
              MONOLITH_MAX_BUFFER: 100
              SCREENSHOT_MAX_BUFFER: 100

              NEXTAUTH_URL: https://bookmarks.dmfrey.com/api/v1/auth
              NEXT_PUBLIC_AUTHENTIK_ENABLED: true
              NEXT_PUBLIC_DISABLE_REGISTRATION: true
              NEXT_PUBLIC_CREDENTIALS_ENABLED: true
              AUTHENTIK_ISSUER: https://auth.dmfrey.com/application/o/linkwarden
              # AUTHENTIK_CLIENT_ID: set in externalsecret
              # AUTHENTIK_CLIENT_SECRET: set in externalsecret

              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-linkwarden-app
                    key: uri

              NEXT_PUBLIC_OLLAMA_ENDPOINT_URL: http://ollama.ai.svc.cluster.local:11434
              OLLAMA_MODEL: llama3.2

              NEXT_PUBLIC_EMAIL_PROVIDER: true
              EMAIL_FROM: bookmarks@dmfrey.com
              EMAIL_SERVER: smtp://smtp-relay.kube-system.svc.cluster.local:2525

            envFrom:
              - secretRef:
                  name: linkwarden-secret

            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi

    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: &port 3000

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://bookmarks.dmfrey.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/name: Linkwarden Bookmarks
          gethomepage.dev/icon: linkwarden.svg
          gethomepage.dev/description: Bookmark Management
          gethomepage.dev/widget.type: linkwarden
          gethomepage.dev/widget.url: "http://linkwarden.self-hosted.svc.cluster.local:3000"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_LINKWARDEN_TOKEN}}` }}"
        hostnames:
          - bookmarks.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /data/config

      next-cache:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /data/.next/cache

      tmp:
        type: emptyDir

      # cache:
      #   type: emptyDir
      #   medium: Memory
      #   globalMounts:
      #     - path: /data/config/.cache
