---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app commerce

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 65534

    controllers:
      *app :
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
          secret.reloader.stakater.com/reload: pg-commerce-app,rabbit-monomart-default-user

        containers:
          *app :
            image:
              repository: ghcr.io/dmfrey/commerce
              tag: 1.0.0
              pullPolicy: Always

            env:
              SERVER_PORT: &port 8080
              PRODUCT_API_URL: http://inventory.spring-dev.svc.cluster.local:8080
              LOGGING_LEVEL_IO_MICROMETER: ERROR
              SPRING_PROFILES_ACTIVE: kubernetes
              MANAGEMENT_TRACING_ENABLED: true
              MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://otelcol-dm-opentelemetry-collector.observabiltiy.svc.cluster.local:9411/api/v2/spans
              SPRING_DATASOURCE_URL: jdbc:postgresql://pg-commerce-rw:5432/commerce
              SPRING_DATASOURCE_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: pg-commerce-app
                    key: username
              SPRING_DATASOURCE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: pg-commerce-app
                    key: password
              SPRING_RABBITMQ_HOST:
                valueFrom:
                  secretKeyRef:
                    name: rabbit-monomart-default-user
                    key: host
              SPRING_RABBITMQ_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: rabbit-monomart-default-user
                    key: username
              SPRING_RABBITMQ_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: rabbit-monomart-default-user
                    key: password

            ports:
              - name: http
                containerPort: *port

            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health/liveness
                    port: *port
                  initialDelaySeconds: 15
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health/readiness
                    port: *port
                  initialDelaySeconds: 15
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health
                    port: *port
                  failureThreshold: 3
                  timeoutSeconds: 3
                  initialDelaySeconds: 15
                  periodSeconds: 5

            resources:
              requests:
                cpu: 0.5
                memory: 1024Mi
              limits:
                cpu: 1.0
                memory: 1024Mi

            securityContext:
              fsGroup: 1001
              runAsNonRoot: true
              runAsUser: 1001

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    serviceMonitor:
      metrics:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /actuator/prometheus
            interval: 1m
            scrapeTimeout: 10s
