---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno

spec:

  interval: 15m

  chart:
    spec:
      chart: kyverno
      version: 3.3.7
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
      interval: 15m

  install:
    remediation:
      retries: 5

  upgrade:
    remediation:
      retries: 5

  driftDetection:
    mode: enabled

  values:

    crds:
      install: true

    grafana:
      enabled: false
      annotations:
        grafana_folder: Policy

    admissionController:
      replicas: 1
      clusterRole:
        extraResources: &extraResources
          - apiGroups: ["*"]
            resources: ["*"]
            verbs: ["get", "list", "watch", "create"]
      serviceMonitor:
        enabled: true

    backgroundController:
      clusterRole:
        extraResources: *extraResources
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true

    reportsController:
      clusterRole:
        extraResources: *extraResources
      serviceMonitor:
        enabled: true

    cleanupController:
      serviceMonitor:
        enabled: true

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: ConfigMap
              labelSelector: grafana_dashboard in (1)
            patch: |-
              apiVersion: v1
              kind: ConfigMap
              metadata:
                name: not-used
                namespace: not-used
                labels:
                  grafana_dashboard: ""
                annotations:
                  grafana_folder: Kyverno
          - target:
              version: v1
              kind: ConfigMap
              labelSelector: grafana_dashboard in (1)
            patch: |-
              - op: remove
                path: /metadata/labels/grafana_dashboard
