---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubernetes-schemas
  namespace: dev
spec:
  
  interval: 15m
  
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  
  maxHistory: 2
  
  install:
    createNamespace: true
    remediation:
      retries: 3
  
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  
  uninstall:
    keepHistory: false
  
  values:
  
    controllers:
      kubernetes-schemas:
        replicas: 1
        strategy: RollingUpdate
    
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app

        containers:
          app:
            image:
              repository: ghcr.io/dmfrey/kubernetes-schemas
              tag: latest@sha256:b40a084130e99a014b898cbe8097bebbc34a31e67146bae4882bb09b082ec217

            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi

    service:
      app:
        controller: kubernetes-schemas
        ports:
          http:
            port: &port 8080
    
    ingress:
      app:
        className: external
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:code-json
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
        tls:
          - hosts:
              - *host
            secretName: kubernetes-schemas-tls-external
