---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./objectstore.yaml
  - ./ocirepository.yaml
  - ./pgcluster.yaml
  - ./podmonitor.yaml
  - ./pvc.yaml
  - ./replicationdestination.yaml
  - ./replicationsource.yaml
  - ./replicationsource-r2.yaml
  - ./scheduledbackup.yaml
  # - ./secret-home-assistant.sops.yaml
  - ./secret-deploy-key.sops.yaml

configMapGenerator:
  - name: hass-config
    files:
      - ./config/configuration.yaml
    options:
      disableNameSuffixHash: true
