---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator

spec:

  interval: 10m

  chart:
    spec:
      chart: mariadb-operator
      version: 0.37.1
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
        namespace: flux-system

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    webhook:
      serviceMonitor:
        enabled: true
