---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app monomart-ui

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 65534

    controllers:
      *app :
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/dmfrey/monomart
              tag: 1.0.0
              pullPolicy: Always

            env:
              LOGGING_LEVEL_IO_MICROMETER: ERROR
              SPRING_PROFILES_ACTIVE: kubernetes
              MANAGEMENT_TRACING_ENABLED: true
              MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://otelcol-dm-opentelemetry-collector.observabiltiy.svc.cluster.local:9411/api/v2/spans

            ports:
              - name: http
                containerPort: &port 8080

            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health/liveness
                    port: *port
                  initialDelaySeconds: 15
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health/readiness
                    port: *port
                  initialDelaySeconds: 15
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /actuator/health
                    port: *port
                  failureThreshold: 3
                  timeoutSeconds: 3
                  initialDelaySeconds: 15
                  periodSeconds: 5

            resources:
              requests:
                cpu: 0.5
                memory: 1024Mi
              limits:
                cpu: 1.0
                memory: 1024Mi

            securityContext:
              fsGroup: 1001
              runAsNonRoot: true
              runAsUser: 1001

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    serviceMonitor:
      metrics:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /actuator/prometheus
            interval: 1m
            scrapeTimeout: 10s
