---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app blackbox-exporter
  namespace: flux-system
spec:
  targetNamespace: monitor
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/homelab-k8s-001/apps/monitor/blackbox-exporter/app
  sourceRef:
    kind: GitRepository
    name: flux-system
  prune: false
  wait: false
  interval: 30m
  timeout: 15m
  postBuild:
    substituteFrom: []
