---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator-crds

spec:

  interval: 10m

  chart:

    spec:
      chart: mariadb-operator-crds
      version: 0.37.1
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
        namespace: flux-system

  values: {}
