---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 1568
        runAsGroup: 1568
        fsGroup: 1568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65534

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/onedr0p/tautulli
              tag: 2.15.1@sha256:2d5a1bce27a8e29e287aec1735001e68fc23dea08806c7124587cdbfaf0ddcff

            env:
              TZ: ${TIMEZONE}
              TAUTULLI__PORT: &port 8181

            ports:
              - name: http
                containerPort: *port

            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      internal:
        enabled: true
        className: internal
        annotations:
          theme.home.arpa/enabled: "true"

          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:chart-bar"

          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Tautulli
          gethomepage.dev/icon: tautulli.png
          gethomepage.dev/description: Plex Stream Monitoring
          gethomepage.dev/widget.type: tautulli
          gethomepage.dev/widget.url: http://tautulli.media.svc.cluster.local:8081
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_TAUTULLI_TOKEN}}` }}"

          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        hosts:
          - host: tautulli.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
                  port: http

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: tautulli-config
        globalMounts:
          - path: /config
            readOnly: false

    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 15m
            scrapeTimeout: 2m
