---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli

spec:

  chartRef:
    kind: OCIRepository
    name: tautulli

  interval: 1h

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.0

            env:
              TZ: America/New_York
              TAUTULLI__PORT: &port 8181

            ports:
              - name: http
                containerPort: *port

            resources:
              requests:
                cpu: 5m
              limits:
                memory: 350Mi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Tautulli
          gethomepage.dev/icon: tautulli.png
          gethomepage.dev/description: Plex Stream Monitoring
          gethomepage.dev/widget.type: tautulli
          gethomepage.dev/widget.url: http://tautulli.media.svc.cluster.local:8181
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_TAUTULLI_TOKEN}}` }}"
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: tautulli-config
        globalMounts:
          - path: /config
            readOnly: false

      backups:
        type: nfs
        server: nas.internal
        path: /plexbackups/backups/tautulli
        globalMounts:
          - path: /config/backups
            readOnly: false

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs

    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 15m
            scrapeTimeout: 2m
