---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: romm-dragonflydb
  annotations:
    secret.reloader.stakater.com/reload: romm-dragonflydb-s3-secret

spec:

  replicas: 3

  image: ghcr.io/dragonflydb/dragonfly:v1.35.1@sha256:af7f7f1143269c7ffe4128451dff8f8fc09e157d885abcc9bafeec832d2928e6

  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: romm-dragonflydb-s3-secret
          key: AWS_ACCESS_KEY_ID
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: romm-dragonflydb-s3-secret
          key: AWS_SECRET_ACCESS_KEY

  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --s3_endpoint=minio.internal:9000
    - --s3_use_https=false

  snapshot:
    cron: 0 0 * * *
    dir: "s3://dragonflydb/romm"

  resources:
    requests:
      cpu: 100m
      memory: 1Gi
    limits:
      memory: 2Gi
