---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rabbitmq-cluster-operator
  namespace: flux-system
spec:
  targetNamespace: datastore
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/datastore/rabbitmq-cluster-operator/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 5m
  timeout: 1m30s
  retryInterval: 30s
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  dependsOn: []
