---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unpackerr

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: app-template

  maxHistory: 2

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  driftDetection:
    mode: enabled

  values:

    controllers:

      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: docker.io/golift/unpackerr
              tag: unstable

            env:
              TZ: ${TIMEZONE}
              UN_INTERVAL: "1m"
              UN_WEBSERVER_METRICS: "true"
              UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local:8989
              UN_SONARR_0_PATHS_0: /media/downloads/series
              UN_SONARR_0_PATHS_1: /media/downloads/anime
              UN_SONARR_0_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: SONARR_API_KEY
              UN_RADARR_0_URL: http://radarr.media.svc.cluster.local:7878
              UN_RADARR_0_PATHS_0: /media/downloads/movies
              UN_RADARR_0_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: RADARR_API_KEY
              UN_LIDARR_0_URL: http://lidarr.media.svc.cluster.local:8686
              UN_LIDARR_0_PATHS_0: /media/downloads/music
              UN_LIDARR_0_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: LIDARR_API_KEY
              # UN_READARR_0_URL: http://readarr.media.svc.cluster.local:8787
              # UN_READARR_0_PATHS_0: /media/downloads/books
              # UN_READARR_0_API_KEY:
              #   valueFrom:
              #     secretKeyRef:
              #       name: starr-apps-secret
              #       key: READARR_API_KEY

            resources:
              requests:
                memory: 250Mi
                cpu: 10m
              limits:
                memory: 1024Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: 5656

    persistence:
      media:
        enabled: true
        existingClaim: nfs-media
