---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bazarr-db
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      name: bazarr-cnpg
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/media/bazarr/bazarr-db"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bazarr
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: bazarr-db
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/media/bazarr/app"
  postBuild:
    substitute:
      APP: bazarr
      VOLSYNC_CLAIM: bazarr-config
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: false
