---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name authentik-secret
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # Authentik
        AUTHENTIK_BOOTSTRAP_EMAIL: '{{ .AUTHENTIK_EMAIL }}'
        AUTHENTIK_BOOTSTRAP_PASSWORD: '{{ .AUTHENTIK_PASSWORD }}'
        AUTHENTIK_BOOTSTRAP_TOKEN: '{{ .AUTHENTIK_TOKEN }}'
        AUTHENTIK_SECRET_KEY: '{{ .AUTHENTIK_SECRET_KEY }}'
        AUTHENTIK_REDIS__DB: "1"
        AUTHENTIK_PLEX_CLIENT_ID: '{{ .AUTHENTIK_PLEX_CLIENT_ID }}'
        AUTHENTIK_PLEX_TOKEN: '{{ .AUTHENTIK_PLEX_TOKEN }}'
        MAXMIND_ACCOUNT_ID: '{{ .MAXMIND_ACCOUNT_ID }}'
        MAXMIND_LICENSE_KEY: '{{ .MAXMIND_LICENSE_KEY }}'
        USERS_DMFREY_NAME: '{{ .USERS_DMFREY_NAME }}'
        USERS_DMFREY_EMAIL: '{{ .USERS_DMFREY_EMAIL }}'
        USERS_DMFREY_PASSWORD: '{{ .USERS_DMFREY_PASSWORD }}'
        USERS_SDFREY_NAME: '{{ .USERS_SDFREY_NAME }}'
        USERS_SDFREY_EMAIL: '{{ .USERS_SDFREY_EMAIL }}'
        USERS_SDFREY_PASSWORD: '{{ .USERS_SDFREY_PASSWORD }}'
        USERS_CGFREY_NAME: '{{ .USERS_CGFREY_NAME }}'
        USERS_CGFREY_EMAIL: '{{ .USERS_CGFREY_EMAIL }}'
        USERS_CGFREY_PASSWORD: '{{ .USERS_CGFREY_PASSWORD }}'
        USERS_MKFREY_NAME: '{{ .USERS_MKFREY_NAME }}'
        USERS_MKFREY_EMAIL: '{{ .USERS_MKFREY_EMAIL }}'
        USERS_MKFREY_PASSWORD: '{{ .USERS_MKFREY_PASSWORD }}'
  dataFrom:
  - extract:
      key: authentik
  - extract:
      key: maxmind
  - extract:
      key: users
