---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app artifactory-db
spec:
  components:
    - ../../../../components/cnpg
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/dev/artifactory/artifactory-db"
  postBuild:
    substitute:
      APP: *app
      DB: artifactory
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  targetNamespace: dev
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: artifactory
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: artifactory-db
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/dev/artifactory/app"
  postBuild:
    substitute:
      APP: artifactory
      VOLSYNC_CLAIM: artifactory-data
      VOLSYNC_CAPACITY: 25Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dev
  timeout: 5m
  wait: true
