---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app admin
  namespace: download

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    defaultPodOptions:
      dnsConfig:
        options:
          - name: ndots
            value: "5"

      labels:
        vpn.home.arpa/enabled: "false"


      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        supplementalGroups:
          - 1568
          - 65534

    controllers:
      *app :
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        # pod:
        #   annotations:
        #     k8s.v1.cni.cncf.io/networks: |
        #       [{
        #         "name": "iot-vlan",
        #         "namespace": "kube-system",
        #         "ips": ["192.168.50.8/24"],
        #         "mac": "f1:fd:59:0b:bd:2b"
        #       }]

        containers:
          *app :
            image:
              repository: docker.io/library/busybox
              tag: latest

            command:
              - sleep
              - "3600"

            resources:
              requests:
                cpu: 50m
                memory: 150Mi
              limits:
                memory: 300Mi

    service:
      app:
        enabled: false
        controller: admin

    persistence:
      downloads:
        enabled: true
        existingClaim: nfs-downloads
        globalMounts:
          - path: /data/downloads
            readOnly: false
