---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sabnzbd-common
spec:
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/download/sabnzbd/common"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: download
  timeout: 5m
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sabnzbd-config
spec:
  dependsOn:
    - name: sabnzbd-common
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/download/sabnzbd/config"
  postBuild:
    substituteFrom:
      - kind: Secret
        name: sabnzbd-secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: download
  timeout: 5m
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sabnzbd
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: sabnzbd-config
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
    - name: pod-gateway
      namespace: network
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/download/sabnzbd/app"
  postBuild:
    substitute:
      APP: sabnzbd
      VOLSYNC_CLAIM: sabnzbd-config
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: download
  timeout: 5m
