---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin

spec:

  chartRef:
    kind: OCIRepository
    name: jellyfin

  interval: 1h

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:

          *app :

            image:
              repository: jellyfin/jellyfin
              tag: 10.11.3@sha256:1edf3f17997acbe139718f252a7d2ded2706762390d787a34204668498dbc5f6
              pullPolicy: IfNotPresent

            env:
              TZ: America/New_York
              PUID: 1000
              PGID: 1000
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__probesize: 50000000
              JELLYFIN_FFmpeg__analyzeduration: 50000000
              JELLYFIN_PublishedServerUrl: https://jellyfin.dmfrey.com

            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            resources:
              claims:
                - name: gpu
              requests:
                cpu: 10m
                memory: 2Gi
              limits:
                memory: 4Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

          # busybox:
          #   image:
          #     repository: docker.io/library/busybox
          #     tag: latest

          #   command:
          #     - sleep
          #     - "3600"

          #   resources:
          #     requests:
          #       cpu: 50m
          #       memory: 150Mi
          #     limits:
          #       memory: 300Mi

          #   securityContext:
          #     allowPrivilegeEscalation: false
          #     readOnlyRootFilesystem: true
          #     capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: jellyfin
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44, 109]
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 8096

    route:
      *app :
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/icon: jellyfin.png
          gethomepage.dev/description: Media Player
          gethomepage.dev/widget.type: jellyfin
          gethomepage.dev/widget.url: http://jellyfin.media.svc.cluster.local:8096
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_JELLYFIN_TOKEN}}` }}"
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          *app :
            *app :
              - path: /config
            # busybox:
            #   - path: /config

      # Separate PVC for cache to avoid backing up cache files
      cache:
        existingClaim: jellyfin-cache
        advancedMounts:
          *app :
            *app :
              - path: /cache
                readOnly: false

      logs:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /config/log

      media:
        type: nfs
        server: nas.internal
        path: /media
        advancedMounts:
          *app :
            *app :
              - path: /media

      transcode:
        enabled: true
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                storageClassName: ceph-block
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Gi
        advancedMounts:
          *app :
            *app :
              - path: /config/transcodes
                readOnly: false

      tmp:
        type: emptyDir
        sizeLimit: 10Gi
        advancedMounts:
          *app :
            *app :
              - path: /tmp