---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: music-assistant
spec:

  chartRef:
    kind: OCIRepository
    name: music-assistant

  interval: 1h

  values:

    controllers:

      music-assistant:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        # initContainers:
        #   fix-permissions:
        #     image:
        #       repository: busybox
        #       tag: stable

        #     command: ["sh", "-c", "cp -R /data/.cache/* /cache/"]

        #     securityContext:
        #       runAsNonRoot: false
        #       readOnlyRootFilesystem: true
        #       allowPrivilegeEscalation: true
        #       runAsUser: 0
        #       runAsGroup: 0
        #       capabilities: { add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"], drop: ["ALL"] }

        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.1@sha256:35dc0ea99095e96d99538cdef6d52de8939a84096ba49a391474409b3d7bcb71

            env:
              TZ: America/New_York
              LOG_LEVEL: debug

            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true

            resources:
              limits:
                memory: 1024Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { add: ["DAC_READ_SEARCH", "SYS_ADMIN"] }

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "iot-vlan",
                "namespace": "kube-system",
                "ips": ["192.168.50.5/24", "${IPV6_IOT_PREFIX}:5::1/64"],
                "mac": "ae:81:6a:d4:48:85"
              }]

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        # type: LoadBalancer
        # annotations:
          # lbipam.cilium.io/ips: 192.168.29.245 #, ::ffff:192.168.30.245
        # externalTrafficPolicy: Local
        ports:
          http:
            port: &port 8095
          stream:
            port: &streamPort 8097
          http2:
            port: 1780
          sxm-proxy:
            port: 8100
          # snapserver-player:
          #   port: 1704
          # snapserver-control:
          #   port: 1705
          # squeeze-cli:
          #   port: 9090
          # squeeze-rpc:
          #   port: 9000
          # squeeze-slimproto:
          #   port: 3483

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
          - music.dmfrey.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /data

      cache:
        existingClaim: music-assistant-cache
        globalMounts:
          - path: /cache

      media:
        type: nfs
        server: nas.internal
        path: /media/music/
        globalMounts:
          - path: /media

      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp

      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /.audio
            subPath: .audio
