---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rdt-client

spec:

  chartRef:
    kind: OCIRepository
    name: rdt-client

  interval: 1h
  values:

    controllers:

      rdt-client:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"
          # setGateway: "true"

        # initContainers:
        #   fix-permissions:
        #     image:
        #       repository: busybox
        #       tag: stable

        #     command: ["sh", "-c", "chown -R 1000:1000 /app/*"]

        #     securityContext:
        #       runAsNonRoot: false
        #       readOnlyRootFilesystem: true
        #       allowPrivilegeEscalation: true
        #       runAsUser: 0
        #       runAsGroup: 0
        #       capabilities: { add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"], drop: ["ALL"] }

        containers:
          app:
            image:
              repository: rogerfar/rdtclient
              tag: 2.0.120

            env:
              TZ: America/New_York
              PUID: 1000 # 911
              PGID: 1000 # 1001

            resources:
              requests:
                cpu: 49m
                memory: 128Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn-vlan",
            "namespace": "kube-system",
            "ips": ["192.168.90.23/24"],
            "mac": "a6:3e:4f:09:e4:9c"
          }]

      dnsConfig:
        options:
          - name: ndots
            value: "1"

      hostname: rdt

      labels:
        setGateway: "false"

      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 6500

    route:
      app:
        hostnames:
          - rdt.dmfrey.com
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: RDT Client
          gethomepage.dev/icon: qbittorrent.png
          gethomepage.dev/description: Torrent Client
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: http://rdt-client.download.svc.cluster.local:6500
        parentRefs:
          - name: envoy-internal
            namespace: network
            # sectionName: https
        # rules:
        #   - backendRefs:
        #       - identifier: app
        #         port: *port

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}
        # globalMounts:
        #   - path: /data

      downloads:
        type: nfs
        server: nas.internal
        path: /media
        globalMounts:
          - path: /media/downloads/torrents
            subPath: downloads/torrents
