---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml

configMapGenerator:
  - name: kubelet-csr-approver-values
    files:
      - values.yaml=./values.yaml
    options:
      disableNameSuffixHash: true
