---
apiVersion: v1
kind: Service
metadata:
  name: kube-vip
  annotations:
    external-dns.alpha.kubernetes.io/hostname: k8s.dmfrey.com
    lbipam.cilium.io/ips: 192.168.29.120
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    k8s-app: kube-apiserver
    tier: control-plane
  ports:
    - port: 6443
