---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant-db
spec:
  components:
    - ../../../../components/cnpg
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/home/home-assistant/home-assistant-db"
  postBuild:
    substitute:
      APP: home-assistant
      DB: home-assistant
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: home-assistant-db
    - name: mosquitto
    - name: multus-networks
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/home/home-assistant/app"
  postBuild:
    substitute:
      APP: home-assistant
      VOLSYNC_CLAIM: home-assistant-config-1
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_CACHE_CAPACITY: 2Gi
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home
  timeout: 5m
  wait: false
