---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app theme-park
  namespace: web

spec:
  
  interval: 15m
  
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  
  maxHistory: 2
  
  install:
    createNamespace: true
    remediation:
      retries: 3
  
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  
  uninstall:
    keepHistory: false

  values:
    
    controllers:
      theme-park:
        replicas: 1
        strategy: RollingUpdate

        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app

        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/theme-park
              tag: 1.16.2@sha256:48cfdb526cf02d5ec874a7655ad3215539a202560c190fa48849a93559bc8bbc
            
            env:
              - name: TZ
                value: ${TIMEZONE}
            
            ports:
              - name: http
                containerPort: &port 8080

            probes:
              liveness:
                enabled: true
                type: HTTP
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 60
              readiness:
                enabled: true
                type: HTTP
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 60
              startup:
                enabled: false
            
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                memory: 500Mi

    service:
      app:
        controller: theme-park
        ports:
          http:
            port: *port

    ingress:
      app:
        className: external
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:paint-outline"
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: &host "theme-park.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
        tls:
          - hosts:
              - *host
            secretName: theme-park-tls-external
    
    persistence:
      rdt-config:
        enabled: true
        type: configMap
        name: theme-park-rdt-client-config
        globalMounts:
          - path: /usr/share/nginx/html/css/base/rdt-client/
      
      catppuccin-themes:
        enabled: true
        type: configMap
        name: theme-park-catppuccin-config
        globalMounts:
          - path: /usr/share/nginx/html/css/theme-options/catppuccin-macchiato.css
            subPath: catppuccin-macchiato.css
