---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./clusterpolicy.yaml
  - ../../../../templates/gatus/external
configMapGenerator:
  - name: theme-park-rdt-client-config
    files:
      - config/rdt-client/nord.css
  - name: theme-park-catppuccin-config
    files:
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/frappe.css
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/latte.css
      - catppuccin-macchiato.css=https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/macchiato.css
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/mocha.css
generatorOptions:
  disableNameSuffixHash: true
