---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pg-gatus
  annotations:
    secret.reloader.stakater.com/reload: pg-gatus-cnpg-secret

spec:

  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16.10

  backup:
    volumeSnapshot:
      className: csi-ceph-blockpool

  bootstrap:
    # initdb:
    #   dataChecksums: true
    #   database: gatus
    #   owner: gatus
    #   encoding: "UTF8"
    #   localeCollate: en_US.utf8
    #   localeCType: en_US.utf8
    recovery:
      database: gatus
      owner: gatus
      source: source

  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: gatus

  # To be removed in a future release
  monitoring:
    enablePodMonitor: false

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: gatus

  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 256MB # amount of RAM to use for data caching, https://postgresqlco.nf/doc/en/param/shared_buffers/

  primaryUpdateStrategy: unsupervised # let k8s handle upgrades
  primaryUpdateMethod: restart # prefer downtime of image download from registry instead of switching primary instance (promote a standby instance to primary) when current primary pod is updated

  storage:
    storageClass: ceph-block
    size: 30Gi

  walStorage:
    storageClass: ceph-block
    size: 60Gi
