---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack

spec:

  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
    namespace: observability

  interval: 1h

  valuesFrom:
  - kind: ConfigMap
    name: flux-metrics-configmap
    valuesKey: flux-metrics.yaml

  values:

    cleanPrometheusOperatorObjectNames: true

    alertmanager:

      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.dmfrey.com
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Observability
            gethomepage.dev/name: Alert Manager
            gethomepage.dev/icon: alertmanager.png
            gethomepage.dev/description: Application & System Alerts
          parentRefs:
            - name: envoy-internal
              namespace: network

      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager

        externalUrl: https://alertmanager.dmfrey.com

        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 1Gi

    kubeEtcd:
      service:
        selector:
          k8s-app: kube-apiserver # etcd runs on control plane nodes

    kubeProxy:
      enabled: false

    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.dmfrey.com
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Observability
            gethomepage.dev/name: Prometheus
            gethomepage.dev/icon: prometheus.png
            gethomepage.dev/description: Application & System Metrics
            gethomepage.dev/widget.type: prometheus
            gethomepage.dev/widget.url: http://prometheus-operated.observability.svc.cluster.local:9090
          parentRefs:
            - name: envoy-internal
              namespace: network

      prometheusSpec:

        externalUrl: https://prometheus.dmfrey.com

        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false

        retention: 14d
        retentionSize: 50GB

        resources:
          requests:
            cpu: 100m
          limits:
            memory: 2000Mi

        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 50Gi

    prometheus-node-exporter:
      fullnameOverride: node-exporter

      # prometheus:
      #   monitor:
      #     enabled: true
      #     relabelings:
      #       - action: replace
      #         regex: (.*)
      #         replacement: $1
      #         sourceLabels:
      #           - __meta_kubernetes_pod_node_name
      #         targetLabel: kubernetes_node

    kube-state-metrics:
      fullnameOverride: kube-state-metrics

      # metricLabelsAllowlist:
      #   - pods=[*]
      #   - deployments=[*]
      #   - persistentvolumeclaims=[*]

      # prometheus:
      #   monitor:
      #     enabled: true
      #     relabelings:
      #       - action: replace
      #         regex: (.*)
      #         replacement: $1
      #         sourceLabels:
      #           - __meta_kubernetes_pod_node_name
      #         targetLabel: kubernetes_node

    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana

    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: There are {{ $value }} containers pulling from Dockerhub. This may lead to rate limiting.
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical

    #   zfs-rules:
    #     groups:
    #       - name: zfs
    #         rules:
    #           - alert: ZfsUnexpectedPoolState
    #             annotations:
    #               summary: ZFS pool {{$labels.zpool}} on {{$labels.instance}} is in a unexpected state {{$labels.state}}
    #             expr: node_zfs_zpool_state{state!="online"} > 0
    #             labels:
    #               severity: critical
