---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler

spec:

  interval: 15m

  chart:
    spec:
      # renovate: registryUrl=https://kubernetes-sigs.github.io/descheduler
      chart: descheduler
      version: 0.30.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-descheduler
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    kind: Deployment
    replicas: 2

    leaderElection:
      enabled: true

    podAnnotations:
      configmap.reloader.stakater.com/reload: "descheduler"

    resources:
      requests:
        cpu: 5m
        memory: 35M
      limits:
        memory: 35M

    deschedulerPolicy:

      # https://github.com/kubernetes-sigs/descheduler/blob/release-1.30/README.md
      profiles:
        - name: default
          pluginConfig:
            - name: DefaultEvictor
              args:
                nodeFit: true
                ignorePvcPods: true
            - name: RemoveDuplicates
              args:
                excludeOwnerKinds:
                  - ReplicaSet
            - name: RemovePodsHavingTooManyRestarts
              args:
                podRestartThreshold: 80
                includingInitContainers: true
            - name: RemovePodsViolatingNodeAffinity
              args:
                nodeAffinityType:
                  - requiredDuringSchedulingIgnoredDuringExecution
            - name: RemovePodsViolatingNodeTaints
            - name: RemovePodsViolatingInterPodAntiAffinity
              args:
                labelSelector:
                  matchExpressions:
                    - key: "app.kubernetes.io/name"
                      operator: In
                      values:
                        - emqx
                        - vault
                        - prometheus
                        - loki

            - name: RemovePodsViolatingTopologySpreadConstraint

          plugins:
            balance:
              enabled:
                - RemovePodsViolatingTopologySpreadConstraint
                - LowNodeUtilization
                # - RemoveDuplicates
            deschedule:
              enabled:
                - RemovePodsHavingTooManyRestarts
                - RemovePodsViolatingNodeTaints
                - RemovePodsViolatingNodeAffinity
                - RemovePodsViolatingInterPodAntiAffinity
