---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app matter-server
spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 3

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall

  uninstall:
    keepHistory: false

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 7.0.1
              pullPolicy: IfNotPresent

            env:
              TZ: "${TIMEZONE}"
              MATTER_SERVER__INSTANCE_NAME: *app
              MATTER_SERVER__PORT: &wsPort 5580
              MATTER_SERVER__APPLICATION_URL: &host matter.${SECRET_DOMAIN}
              MATTER_SERVER__LOG_LEVEL: debug

            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            #   startup:
            #     enabled: true
            #     spec:
            #       failureThreshold: 30
            #       periodSeconds: 5

            resources:
              requests:
                memory: "100M"
              limits:
                memory: "500M"

        # pod:
        #   annotations:
        #     k8s.v1.cni.cncf.io/networks: |
        #       [{
        #         "name":"iot-vlan",
        #         "namespace": "network",
        #         "ips": ["192.168.50.9/24"],
        #         "mac": "f1:fd:59:0b:bd:2b"
        #       }]

    defaultPodOptions:
      securityContext:
        runAsUser: 0                      # Must be run as root user
        runAsGroup: 0
        runAsNonRoot: false               # Must be run as root user
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 34

    service:
      *app :
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${SVC_MATTER_ADDR}
        ports:
          ws:
            protocol: TCP
            port: *wsPort
            primary: true
        externalTrafficPolicy: Cluster

    ingress:
      internal:
        className: internal
        annotations:
          nginx.org/websocket-services: *app
          hajimari.io/enable: "true"
          hajimari.io/icon: "simple-icons:matter"
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: *app
                  port: *wsPort

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}

