---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
spec:

  chartRef:
    kind: OCIRepository
    name: matter-server

  interval: 1h

  values:

    controllers:

      matter-server:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a

            args:
              - --storage-path=/data
              - --primary-interface=net1
              - --log-level=debug
              - --log-level-sdk=info

            env:
              TZ: "America/New_York"
              MATTER_SERVER__INSTANCE_NAME: "{{ .Release.Name }}"
              MATTER_SERVER__PORT: &port 5580
              MATTER_SERVER__APPLICATION_URL: &host "matter.dmfrey.com"
              MATTER_SERVER__LOG_LEVEL: info

            resources:
              limits:
                memory: 100Mi

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "iot-vlan",
            "namespace": "kube-system",
            "ips": ["192.168.50.9/24"],
            "mac": "aa:8c:ae:86:6e:8a"
          }]
      hostUsers: false
      securityContext:
        runAsNonRoot: false # Must be run as root user
        runAsUser: 0        # Must be run as root user
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 34

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - *host
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: "{{ .Release.Name }}"
                port: *port

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}

      tmp:
        type: emptyDir
