machine:
  disks:
    - device: /dev/disk/by-id/wwn-0x5000000000038747
      partitions:
        - mountpoint: /var/mnt/extra
  network:
    hostname: dmf-intel-001
  nodeLabels:
    topology.kubernetes.io/zone: dmf-u
  type: controlplane
