---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: dmf-u
  install:
    diskSelector:
      model: Samsung SSD 870
    image: factory.talos.dev/installer/6f8d31543c038124f2b5d2a88e2cf84aef3ebcca73f940ad774d3aa953f3168a:v1.13.6 # baseline - see `just talos gen-schematic-id`
    wipe: false
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
