---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: dmf-u
  install:
    diskSelector:
      model: Samsung SSD 870
    image: factory.talos.dev/installer/3560581b79a776934ff3a8550e8d2781efc280a6767b39c268df953cfb5851e7:v1.13.6 # baseline - see `just talos gen-schematic-id`
    wipe: false
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
