machine:
  network:
    hostname: dmf-intel-002
  disks:
    - device: /dev/disk/by-id/wwn-0x5000000000038792
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/adedfa6ddd3fcfae6e53c759246c398a7d1714a508d6eab9a953df334a470613:{{ ENV.TALOS_VERSION }}
