machine:
  network:
    hostname: dmf-amd-002
#   disks:
#     - device: /dev/disk/by-id/ata-Gigastone_SSD_GSTG512G240417_0355
#       partitions:
#         - mountpoint: /var/mnt/extra
  install:
    diskSelector:
      model: Gigastone SSD
    image: factory.talos.dev/installer/b51b7b6129e8ba285ab83ef1059418c434de4223a7ae4b3905dd06512b923943:{{ ENV.TALOS_VERSION }}
