machine:
  network:
    hostname: dmf-intel-003
#   disks:
#     - device: /dev/disk/by-id/ata-Gigastone_SSD_GSTG512G240417_0355
#       partitions:
#         - mountpoint: /var/mnt/extra
  install:
    diskSelector:
      model: Gigastone SSD
    image: factory.talos.dev/installer/f3d60355e49f3cc635c3df58906eae8b29b604cfc73f8f636c45011105a419e4:{{ ENV.TALOS_VERSION }}
