---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: dmf-u
  install:
    diskSelector:
      model: Samsung SSD 870
    image: factory.talos.dev/installer/86b8aa72ef5e45e2af73734ac08e4eb70713edf929837c801bf999cb3f7b0e48:v1.13.6 # eGPU variant - see `just talos gen-schematic-id-egpu`
    wipe: false
  kernel:
    modules:
      - name: nvidia        # eGPU - RTX 5070
      - name: nvidia_uvm    # eGPU - CUDA unified virtual memory
      - name: nvidia_drm    # eGPU - DRM/KMS integration
      - name: nvidia_modeset # eGPU - required by the driver even headless
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
