---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: terraform
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: terraform-secret
    template:
      engineVersion: v2
      data:
        service_account_json: "{{ .OP_CONNECT_TOKEN }}"
        OP_CONNECT_TOKEN: "{{ .OP_CONNECT_TOKEN }}"
        OP_CONNECT_HOST: "http://onepassword.external-secrets.svc.cluster.local"
  dataFrom:
  - extract:
      key: 1password
