---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/infra.contrib.fluxcd.io/terraform_v1alpha1.json
apiVersion: infra.contrib.fluxcd.io/v1alpha1
kind: Terraform
metadata:
  name: authentik-provisioner
spec:

  approvePlan: auto
  interval: 15m
  path: "./"

  sourceRef:
    kind: OCIRepository
    name: oci-terraform-authentik

  writeOutputsToSecret:
    name: authentik-tfstate

  varsFrom:
    - kind: Secret
      name: terraform-secret

  vars:
    - name: TF_LOG
      value: TRACE

    - name: CLUSTER_DOMAIN
      value: dmfrey.com

    - name: proxy_applications
      value:
        # Ollama:
        #   url: https://ollama.dmfrey.com
        #   group: AI
        # Dataflow:
        #   url: https://dataflow.dmfrey.com
        #   group: Dataflow
        # Prowlarr:
        #   url: https://prowlarr.dmfrey.com
        #   group: Download
        # RealDebrid-Client:
        #   url: https://rdt.dmfrey.com
        #   group: Download
        # SABNZBD-Client:
        #   url: https://sabnzbd.dmfrey.com
        #   group: Download
        Hajimari:
          url: https://portal.dmfrey.com
          group: Home
        # EspHome:
        #   url: https://esphome.dmfrey.com
        #   group: Home
        # Hass-Code:
        #   url: https://hass-code.dmfrey.com
        #   group: Home
        # Matter:
        #   url: https://matter.dmfrey.com
        #   group: Home
        # MatterHub:
        #   url: https://matterhub.dmfrey.com
        #   group: Home
        # Zigbee2Mqtt:
        #   url: https://zigbee2mqtt.dmfrey.com
        #   group: Home
        # Loki:
        #   url: https://loki.dmfrey.com
        #   group: Logs
        # Bazarr:
        #   url: https://bazarr.dmfrey.com
        #   group: Media
        # Jellyfin:
        #   url: https://jellyfin.dmfrey.com
        #   group: Media
        # Lidarr:
        #   url: https://lidarr.dmfrey.com
        #   group: Media
        # Music-Assistant:
        #   url: https://music.dmfrey.com
        #   group: Media
        # Readarr:
        #   url: https://readarr.dmfrey.com
        #   group: Media
        # Radarr:
        #   url: https://radarr.dmfrey.com
        #   group: Media
        Romm:
          url: https://romm.dmfrey.com
          group: Media
        # Sonarr:
        #   url: https://sonarr.dmfrey.com
        #   group: Media
        # Tautulli:
        #   url: https://tautulli.dmfrey.com
        #   group: Media
        # Tdarr:
        #   url: https://tdarr.dmfrey.com
        #   group: Media
        Wizarr:
          url: https://join.dmfrey.com
          group: Media
          skip_path_regex: |
            ^/j/*
            ^/join
            ^/help
            ^/static/*
            ^/assets/*
        # Alert-Manager:
        #   url: https://alert-manager.dmfrey.com
        #   group: Monitor
        # Blackbox-Exporter:
        #   url: https://blackbox-exporter.dmfrey.com
        #   group: Monitor
        # Gatus:
        #   url: https://status.dmfrey.com
        #   group: Monitor
        # Prometheus:
        #   url: https://prometheus.dmfrey.com
        #   group: Monitor
        # Thanos:
        #   url: https://thanos.dmfrey.com
        #   group: Monitor
        # Hubble:
        #   url: https://hubble.dmfrey.com
        #   group: Network
        # Unifi:
        #   url: https://unifi.dmfrey.com
        #   group: Network
        # Rook-Ceph:
        #   url: https://rook.dmfrey.com
        #   group: Storage

    # - name: oauth_applications
    #   value:
    #     grafana:
    #       client_id: ${GRAFANA_CLIENT_ID}
    #       client_secret: ${GRAFANA_CLIENT_SECRET}
    #       group: "Monitoring"
    #       icon_url: "https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/grafana.png"
    #       redirect_uri: "https://grafana.dmfrey.com/login/generic_oauth"
    #       launch_url: "https://grafana.dmfrey.com/login/generic_oauth"
    #     spring-dev:
    #       client_id: ${SPRING_DEV_CLIENT_ID}
    #       client_secret: ${SPRING_DEV_CLIENT_SECRET}
    #       group: "Developers"
    #       icon_url: "https://raw.githubusercontent.com/dmfrey/home-gitops/main/docs/src/assets/icons/spring-boot.png"
    #       redirect_uri: "https://spring-dev-gateway.dmfrey.com/login/oauth2/code/sso"
    #       launch_url: "https://spring-dev-gateway.dmfrey.com/"

    # - name: users
    #   value:
    #     dmfrey:
    #       name: "${USERS_DMFREY_NAME}"
    #       email: "${USERS_DMFREY_EMAIL}"
    #       password: "${USERS_DMFREY_PASSWORD}"
    #       groups:
    #         - "authentik Admins"
    #         - "Developers"
    #         - "Infrastructure"
    #         - "Monitoring"
    #         - "Media"
    #         - "Downloads"
    #         - "Home"
    #     sdfrey:
    #       name: "${USERS_SDFREY_NAME}"
    #       email: "${USERS_SDFREY_EMAIL}"
    #       password: "${USERS_SDFREY_PASSWORD}"
    #       groups:
    #         - "Downloads"
    #         - "Media"
    #         - "Home"
    #     cgfrey:
    #       name: "${USERS_CGFREY_NAME}"
    #       email: "${USERS_CGFREY_EMAIL}"
    #       password: "${USERS_CGFREY_PASSWORD}"
    #       groups:
    #         - "Downloads"
    #         - "Media"
    #         - "Home"
    #     mkfrey:
    #       name: "${USERS_MKFREY_NAME}"
    #       email: "${USERS_MKFREY_EMAIL}"
    #       password: "${USERS_MKFREY_PASSWORD}"
    #       groups:
    #         - "Downloads"
    #         - "Media"
    #         - "Home"

