---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/infra.contrib.fluxcd.io/terraform_v1alpha1.json
apiVersion: infra.contrib.fluxcd.io/v1alpha1
kind: Terraform
metadata:
  name: authentik-provisioner
spec:

  approvePlan: auto
  interval: 2m
  path: "./"

  sourceRef:
    kind: OCIRepository
    name: oci-terraform-authentik
    namespace: flux-system

  writeOutputsToSecret:
    name: authentik-tfstate

  varsFrom:
    - kind: Secret
      name: terraform-secret

  vars:
    - name: TF_LOG
      value: TRACE

    - name: cluster_domain
      value: ${SECRET_DOMAIN}

    - name: proxy_applications
      value:
        # Ollama:
        #   url: https://ollama.${SECRET_DOMAIN}
        #   group: AI
        # Dataflow:
        #   url: https://dataflow.${SECRET_DOMAIN}
        #   group: Dataflow
        # Prowlarr:
        #   url: https://prowlarr.${SECRET_DOMAIN}
        #   group: Download
        # RealDebrid-Client:
        #   url: https://rdt.${SECRET_DOMAIN}
        #   group: Download
        # SABNZBD-Client:
        #   url: https://sabnzbd.${SECRET_DOMAIN}
        #   group: Download
        Hajimari:
          url: https://portal.${SECRET_DOMAIN}
          group: Home
        # EspHome:
        #   url: https://esphome.${SECRET_DOMAIN}
        #   group: Home
        # Hass-Code:
        #   url: https://hass-code.${SECRET_DOMAIN}
        #   group: Home
        # Matter:
        #   url: https://matter.${SECRET_DOMAIN}
        #   group: Home
        # MatterHub:
        #   url: https://matterhub.${SECRET_DOMAIN}
        #   group: Home
        # Zigbee2Mqtt:
        #   url: https://zigbee2mqtt.${SECRET_DOMAIN}
        #   group: Home
        # Loki:
        #   url: https://loki.${SECRET_DOMAIN}
        #   group: Logs
        # Bazarr:
        #   url: https://bazarr.${SECRET_DOMAIN}
        #   group: Media
        # Jellyfin:
        #   url: https://jellyfin.${SECRET_DOMAIN}
        #   group: Media
        # Lidarr:
        #   url: https://lidarr.${SECRET_DOMAIN}
        #   group: Media
        # Music-Assistant:
        #   url: https://music.${SECRET_DOMAIN}
        #   group: Media
        # Readarr:
        #   url: https://readarr.${SECRET_DOMAIN}
        #   group: Media
        # Radarr:
        #   url: https://radarr.${SECRET_DOMAIN}
        #   group: Media
        Romm:
          url: https://romm.${SECRET_DOMAIN}
          group: Media
        # Sonarr:
        #   url: https://sonarr.${SECRET_DOMAIN}
        #   group: Media
        # Tautulli:
        #   url: https://tautulli.${SECRET_DOMAIN}
        #   group: Media
        # Tdarr:
        #   url: https://tdarr.${SECRET_DOMAIN}
        #   group: Media
        Wizarr:
          url: https://join.${SECRET_DOMAIN}
          group: Media
          skip_path_regex: |
            ^/j/*
            ^/join
            ^/help
            ^/static/*
            ^/assets/*
        # Alert-Manager:
        #   url: https://alert-manager.${SECRET_DOMAIN}
        #   group: Monitor
        # Blackbox-Exporter:
        #   url: https://blackbox-exporter.${SECRET_DOMAIN}
        #   group: Monitor
        # Gatus:
        #   url: https://status.${SECRET_DOMAIN}
        #   group: Monitor
        # Prometheus:
        #   url: https://prometheus.${SECRET_DOMAIN}
        #   group: Monitor
        # Thanos:
        #   url: https://thanos.${SECRET_DOMAIN}
        #   group: Monitor
        # Hubble:
        #   url: https://hubble.${SECRET_DOMAIN}
        #   group: Network
        # Unifi:
        #   url: https://unifi.${SECRET_DOMAIN}
        #   group: Network
        # Rook-Ceph:
        #   url: https://rook.${SECRET_DOMAIN}
        #   group: Storage

    - name: oauth_applications
      value:
        grafana:
          client_id: ${GRAFANA_CLIENT_ID}
          client_secret: ${GRAFANA_CLIENT_SECRET}
          group: "Monitoring"
          icon_url: "https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/grafana.png"
          redirect_uri: "https://grafana.${SECRET_DOMAIN}/login/generic_oauth"
          launch_url: "https://grafana.${SECRET_DOMAIN}/login/generic_oauth"
        spring-dev:
          client_id: ${SPRING_DEV_CLIENT_ID}
          client_secret: ${SPRING_DEV_CLIENT_SECRET}
          group: "Developers"
          icon_url: "https://raw.githubusercontent.com/dmfrey/home-gitops/main/docs/src/assets/icons/spring-boot.png"
          redirect_uri: "https://spring-dev-gateway.${SECRET_DOMAIN}/login/oauth2/code/sso"
          launch_url: "https://spring-dev-gateway.${SECRET_DOMAIN}/"

    - name: users
      value:
        dmfrey:
          name: "${USERS_DMFREY_NAME}"
          email: "${USERS_DMFREY_EMAIL}"
          password: "${USERS_DMFREY_PASSWORD}"
          groups:
            - "authentik Admins"
            - "Developers"
            - "Infrastructure"
            - "Monitoring"
            - "Downloads"
            - "Home"
        sdfrey:
          name: "${USERS_SDFREY_NAME}"
          email: "${USERS_SDFREY_EMAIL}"
          password: "${USERS_SDFREY_PASSWORD}"
          groups:
            - "Downloads"
            - "Home"
        cgfrey:
          name: "${USERS_CGFREY_NAME}"
          email: "${USERS_CGFREY_EMAIL}"
          password: "${USERS_CGFREY_PASSWORD}"
          groups:
            - "Downloads"
            - "Home"
        mkfrey:
          name: "${USERS_MKFREY_NAME}"
          email: "${USERS_MKFREY_EMAIL}"
          password: "${USERS_MKFREY_PASSWORD}"
          groups:
            - "Downloads"
            - "Home"

