---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app intel-device-plugin
  namespace: flux-system
spec:
  targetNamespace: system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 15m
  wait: false
  postBuild:
    substitute:
      APP: *app
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app intel-device-plugins-gpu
  namespace: flux-system
spec:
  targetNamespace: system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/system/intel-device-plugin/gpu"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 15m
  wait: false
  postBuild:
    substitute:
      APP: *app
