---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pinepods

spec:

  chartRef:
    kind: OCIRepository
    name: pinepods

  interval: 1h

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: madeofpendletonwool/pinepods
              tag: 0.8.2@sha256:ee412e52e59b6c49f4f852c41db82e9a258563ddc2e31d7c6e7ef824b8abcb70

            env:
              TZ: America/New_York
              # Basic Server Info
              SEARCH_API_URL: 'https://search.pinepods.online/api/search'
              PEOPLE_API_URL: 'https://people.pinepods.online'

              VALKEY_HOST: pinepods-kv-cluster.media.svc.cluster.local

              DB_TYPE: postgresql
              DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: pinepods-cnpg-app
                    key: host
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: pinepods-cnpg-app
                    key: port
              DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: pinepods-cnpg-app
                    key: dbname
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: pinepods-cnpg-app
                    key: username
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: pinepods-cnpg-app
                    key: password

            # envFrom:
            #   - secretRef:
            #       name: pinepods-secret

            ports:
              - name: http
                containerPort: &port 8040

            resources:
              requests:
                cpu: 10m
                memory: 350Mi
              limits:
                memory: 1Gi

            # securityContext:
              # allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: true
              # capabilities:
                # drop:
                  # - ALL

    # defaultPodOptions:
    #   securityContext:
    #     # runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    #     # seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    route:
      *app :
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://podcasts.dmfrey.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Podcasts
          gethomepage.dev/name: PinePods
          gethomepage.dev/icon: pinepods.png
          gethomepage.dev/description: Podcast Aggregator
          gethomepage.dev/widget.type: pinepods
          gethomepage.dev/widget.url: http://pinepods.media.svc.cluster.local:8080
        hostnames:
          - podcasts.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /opt/pinepods

      media:
        type: nfs
        server: nas.internal
        path: /media/podcasts/
        globalMounts:
          - path: /opt/pinepods/downloads

      cache:
        type: emptyDir
        globalMounts:
          - path: /pinepods/cache

      tmp:
        type: emptyDir
        medium: Memory
