---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: cluster-apps-flux-monitoring
  namespace: flux-system
spec:
  path: ./kubernetes/apps/flux-system/add-ons/monitoring
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  # wait: true
  postBuild:
    substituteFrom: []
  decryption:
    provider: sops
  interval: 15m
  retryInterval: 1m
  timeout: 5m
  dependsOn:
    - name: cluster-apps-kube-prometheus-stack-crds
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: cluster-apps-flux-notifications
  namespace: flux-system
spec:
  interval: 15m
  path: ./kubernetes/apps/flux-system/add-ons/notifications
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  # wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: cluster-apps-flux-webhooks
  namespace: flux-system
spec:
  path: ./kubernetes/apps/flux-system/add-ons/webhooks
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  # wait: true
  postBuild:
    substituteFrom: []
  decryption:
    provider: sops
  interval: 15m
  retryInterval: 1m
  timeout: 5m
  dependsOn:
    - name: cluster-apps-cert-manager-issuers
