---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kubelet-csr-approver
  namespace: flux-system
spec:
  interval: 15m
  path: "./kubernetes/apps/system/kubelet-csr-approver/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: true
  postBuild:
    substituteFrom: []
