---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: dataflow
  namespace: dataflow
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 65534

    controllers:
      main:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: docker.io/bitnami/spring-cloud-dataflow
              tag: 2.11.2-debian-11-r1
            
            env:
              - name: LANG
                value: en_US.utf8
              - name: LC_ALL
                value: en_US.utf8
              - name: JDK_JAVA_OPTIONS
                value: '-Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8'
              - name: KUBERNETES_NAMESPACE
                valueFrom:
                  fieldRef:
                    fieldPath: "metadata.namespace"
              - name: SPRING_PROFILES_ACTIVE
                value: 'kubernetes'
              - name: SERVER_PORT
                value: '9393'
              - name: SPRING_CLOUD_CONFIG_ENABLED
                value: 'false'
              - name: SPRING_CLOUD_DATAFLOW_FEATURES_ANALYTICS_ENABLED
                value: 'true'
              - name: SPRING_CLOUD_DATAFLOW_FEATURES_SCHEDULES_ENABLED
                value: 'true'
              # - name: SPRING_CLOUD_DATAFLOW_TASK_COMPOSEDTASKRUNNER_URI
                # value: 'docker://springcloud/spring-cloud-dataflow-composed-task-runner:${DATAFLOW_VERSION}'
              - name: SPRING_CLOUD_KUBERNETES_CONFIG_ENABLE_API
                value: 'false'
              - name: SPRING_CLOUD_KUBERNETES_SECRETS_ENABLE_API
                value: 'false'
              - name: SPRING_CLOUD_KUBERNETES_SECRETS_PATHS
                value: /etc/secrets
              - name: SPRING_CLOUD_DATAFLOW_SERVER_URI
                value: 'http://${SCDF_SERVER_SERVICE_HOST}:${SCDF_SERVER_SERVICE_PORT}'
                # Provide the Skipper service location
              - name: SPRING_CLOUD_SKIPPER_CLIENT_SERVER_URI
                value: 'http://${SKIPPER_SERVICE_HOST}:${SKIPPER_SERVICE_PORT}/api'

            ports:
              - name: http
                containerPort: &port 9393
            
            probes:
              liveness:
                enabled: true
                httpGet:
                  path: /management/health
                  port: 9393
                initialDelaySeconds: 45
              readiness:
                enabled: true
                httpGet:
                  path: /management/info
                  port: 9393
                initialDelaySeconds: 45
              startup:
                enabled: true
                httpGet:
                  port: 9393
                  path: /management/health
                failureThreshold: 3
                timeoutSeconds: 3
                initialDelaySeconds: 60
                periodSeconds: 5

            resources:
              requests:
                cpu: 0.5
                memory: 1024Mi
              limits:
                cpu: 1.0
                memory: 2048Mi
            
            securityContext:
              fsGroup: 1001
              runAsNonRoot: true
              runAsUser: 1001

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          # hajimari.io/icon: "mdi:alpha-t-box"
        hosts:
          - host: &host dataflow.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: dataflow-tls-external

    persistence:
      config:
        enabled: true
        type: configMap
        name: spring-cloud-dataflow-server-config
        globalMounts:
          - path: /config/application.yaml
            readOnly: true
            subPath: application.yaml
      secrets:
        type: secret
        name: pg-dataflow-app
        globalMounts:
          - path: /etc/secrets/database
            readOnly: true
