---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: romm-db
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      name: romm-cnpg
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/media/romm/romm-db"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: romm-kv
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  healthChecks:
    - apiVersion: dragonflydb.io/v1alpha1
      kind: Dragonfly
      name: romm-dragonflydb
      namespace: media
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/media/romm/romm-kv"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: romm
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: romm-db
    - name: romm-kv
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/media/romm/app"
  postBuild:
    substitute:
      APP: romm
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: true
