---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm-redis-data-pvc
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: romm
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: romm-redis-data
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom: []
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm-assets-pvc
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: romm
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: romm-assets
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom: []
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm-resources-pvc
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: romm
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: romm-resources
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom: []
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm-data-pvc
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: romm
  interval: 10m
  path: "./kubernetes/homelab-k8s-001/templates/volsync"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: romm-data
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom: []
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm-services
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/media/romm/services"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 5m
  timeout: 1m30s
  retryInterval: 30s
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  dependsOn:
    - name: romm-redis-data-pvc
    - name: romm-assets-pvc
    - name: romm-resources-pvc
    - name: romm-data-pvc
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/media/romm/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 5m
  timeout: 1m30s
  retryInterval: 30s
  postBuild:
    substitute:
      APP: *app
      ASSETS_CLAIM: romm-assets
      DATA_CLAIM: romm-data
      RESOURCES_CLAIM: romm-resources
      REDIS_DATA_CLAIM: romm-redis-data
    substituteFrom: []
  dependsOn:
    - name: romm-services
    - name: nfs-subdir
    - name: rook-ceph-cluster
    - name: volsync
