---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: angelnu
spec:
  interval: 15m
  url: https://angelnu.github.io/helm-charts
  timeout: 3m
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pod-gateway

spec:

  interval: 1h

  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      sourceRef:
        kind: HelmRepository
        name: angelnu

  install:
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2

    DNS: 172.16.1.1

    service:
      vpn:
        enabled: true
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.29.77 #, ::ffff:192.168.30.77
        externalTrafficPolicy: Cluster
        ports:
          shadowsocks:
            enabled: true
            port: 8388

    addons:
      vpn:
        enabled: true
        type: gluetun
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30

        env:
          - name: VPN_SERVICE_PROVIDER
            value: mullvad
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: VPN_ENDPOINT_PORT
            value: 51820
          - name: SHADOWSOCKS
            value: "on"
          - name: FIREWALL
            value: "off"
          - name: DOT
            value: "off"
          - name: SERVER_CITIES
            value: New York NY
          - name: LOG_LEVEL
            value: debug
          - name: LOG_CONFS
            value: "true"

        envFrom:
          - secretRef:
              name: pod-gateway-secret

        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            squat.ai/tun: "1"
            memory: 64M

        securityContext:
          capabilities:
            add:
              - NET_ADMIN

        networkPolicy:
          enabled: false

      netshoot:
        enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10M
          limits:
            memory: 10M

    podAnnotations:
      configmap.reloader.stakater.com/reload: pod-gateway
      secret.reloader.stakater.com/reload: pod-gateway-secret

    publicPorts:
      - IP: 10
        hostname: qbittorrent
        ports:
          - port: 57512
            type: udp
          - port: 57512
            type: tcp

    routed_namespaces:
      - download

    settings:
      NOT_ROUTED_TO_GATEWAY_CIDRS: 10.42.0.0/15 192.168.0.0/16
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_INTERFACE: wg0
      VPN_LOCAL_CIDRS: 10.42.0.0/15 192.168.0.0/16
      VPN_TRAFFIC_PORT: "51820"
      VXLAN_ID: 43
      VXLAN_IP_NETWORK: 172.16.1

    webhook:
      gatewayDefault: true
      gatewayAnnotation: setGateway
      gatewayLabel: setGateway
      namespaceSelector:
        type: label
        label: routed-gateway
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed
