---
version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: op://kubernetes/talos/MACHINE_TOKEN
  ca:
    crt: op://kubernetes/talos/MACHINE_CA_CRT
    key: op://kubernetes/talos/MACHINE_CA_KEY
  certSANs:
    - 192.168.30.20
    - homelab-k8s-001.homelab.frey.home
    - homelab.dmfrey.com
    - 127.0.0.1
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    clusterDNS:
      - 172.23.0.10
    extraMounts:
      - destination: /var/mnt/extra
        type: bind
        source: /var/mnt/extra
        options:
          - bind
          - rshared
          - rw
    extraConfig:
      serializeImagePulls: false
    extraMounts:
      - destination: /var/mnt/extra
        type: bind
        source: /var/mnt/extra
        options: ["bind", "rshared", "rw"]
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets: ["192.168.30.0/24"]
    disableManifestsDirectory: true
  network:
    interfaces:
      - interface: eth0
        vlans:
          - routes: []
            dhcp: false
            vlanId: 50
            mtu: 1500
        mtu: 9000
        dhcp: true
        vip:
          ip: 192.168.30.20
    extraHostEntries:
      - ip: 192.168.30.20
        aliases:
          - homelab-k8s-001.homelab.frey.home
      - ip: 192.168.30.20
        aliases:
          - homelab.dmfrey.com
    disableSearchDomain: true
  install:
    extraKernelArgs:
      - net.ifnames=0
      - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
      - apparmor=0                          # Less security, faster puter
      - init_on_alloc=0                     # Less security, faster puter
      - init_on_free=0                      # Less security, faster puter
      - intel_iommu=on                      # PCI Passthrough
      - iommu=pt                            # PCI Passthrough
      - mitigations=off                     # Less security, faster puter
      - security=none                       # Less security, faster puter
      - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
      - talos.auditd.disabled=1             # Less security, faster puter
    wipe: false
  files:
    - content: |-
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        # [plugins."io.containerd.grpc.v1.cri"]
        #   enable_unprivileged_ports = true
        #   enable_unprivileged_icmp = true
        # [plugins."io.containerd.grpc.v1.cri".containerd]
        #   discard_unpacked_layers = false
        # [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
        #   discard_unpacked_layers = false
      permissions: 0o0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |-
        [ NFSMount_Global_Options ]
        nfsvers=4.1
        hard=True
        nconnect=16
        noatime=True
      permissions: 0o644
      path: /etc/nfsmount.conf
      op: overwrite
  time:
    disabled: false
    servers:
      - time.cloudflare.com
  sysctls:
    fs.inotify.max_user_instances: 8192    # Watchdog
    fs.inotify.max_user_watches: 1048576   # Watchdog
    net.core.default_qdisc: fq             # 10Gb/s
    net.core.rmem_max: 67108864            # 10Gb/s | Cloudflared / QUIC
    net.core.wmem_max: 67108864            # 10Gb/s | Cloudflared / QUIC
    net.ipv4.tcp_congestion_control: bbr   # 10Gb/s
    net.ipv4.tcp_fastopen: 3               # Send and accept data in the opening SYN packet
    net.ipv4.tcp_mtu_probing: 1            # 10Gb/s | Jumbo frames
    net.ipv4.tcp_rmem: 4096 87380 33554432 # 10Gb/s
    net.ipv4.tcp_wmem: 4096 65536 33554432 # 10Gb/s
    net.ipv4.tcp_window_scaling: 1         # 10Gb/s
    vm.nr_hugepages: 1024                  # PostgreSQL
  sysfs:
    devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu6.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu7.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu8.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu9.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu10.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu11.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu12.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu13.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu14.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu15.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.intel_pstate.hwp_dynamic_boost: "1"
  features:
    rbac: true
    stableHostname: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
  udev:
    rules:
      - KERNEL=="ttyUSB[0-9]", GROUP="20", MODE="0660"
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  kernel:
    modules:
      - name: nbd
  nodeLabels:
    factory.talos.dev/schematic-prefix: b51b7b6129e8ba285ab83ef1059418c4
    factory.talos.dev/schematic-suffix: 34de4223a7ae4b3905dd06512b923943
    topology.kubernetes.io/region: dmf
    topology.kubernetes.io/zone: dmf-u
cluster:
  id: op://kubernetes/talos/CLUSTER_ID
  secret: op://kubernetes/talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://homelab-k8s-001.homelab.frey.home:6443
  clusterName: homelab-k8s-001
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 172.22.0.0/16
    serviceSubnets:
      - 172.23.0.0/16
  coreDNS:
    disabled: true
  token: op://kubernetes/talos/CLUSTER_TOKEN
  secretboxEncryptionSecret: op://kubernetes/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://kubernetes/talos/CLUSTER_CA_CRT
    key: op://kubernetes/talos/CLUSTER_CA_KEY
  aggregatorCA:
    crt: op://kubernetes/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://kubernetes/talos/CLUSTER_AGGREGATORCA_KEY
  serviceAccount:
    key: op://kubernetes/talos/CLUSTER_SERVICEACCOUNT_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      enable-aggregator-routing: true
      feature-gates: MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1alpha1=true
    certSANs:
      - homelab-k8s-001.homelab.frey.home
      - 192.168.30.20
      - homelab-k8s-001.homelab.frey.home
      - homelab.dmfrey.com
      - 127.0.0.1
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:{{ ENV.KUBERNETES_VERSION }}
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service: {}
  etcd:
    ca:
      crt: op://kubernetes/talos/CLUSTER_ETCD_CA_CRT
      key: op://kubernetes/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - 192.168.30.0/24
  extraManifests:
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagerconfigs.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_probes.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheusagents.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheuses.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_scrapeconfigs.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
    - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.81.0/example/prometheus-operator-crd/monitoring.coreos.com_thanosrulers.yaml
  allowSchedulingOnMasters: true
  allowSchedulingOnControlPlanes: true
# ---
# apiVersion: v1alpha1
# kind: ExtensionServiceConfig
# name: nut-client
# configFiles:
#   - content: |
#       MONITOR qnapups@192.168.30.5 1 admin 123456 slave
#       SHUTDOWNCMD "/sbin/poweroff"
#     mountPath: /usr/local/etc/nut/upsmon.conf
