---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: cloudflare-api-token-secret
    template:
      engineVersion: v2
      data:
        apiKey: "{{ .CLOUDFLARE_API_TOKEN }}"
  dataFrom:
  - extract:
      key: cloudflare
