---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret-alert-manager.sops.yaml
  - ./helmrelease.yaml
  - ../../../../templates/volsync
  - ../../../../templates/gatus/external
configMapGenerator:
  - name: alertmanager-configmap
    files:
      - config/alertmanager.yml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
