---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: affine

spec:

  chartRef:
    kind: OCIRepository
    name: affine

  interval: 1h

  values:

    controllers:

      affine:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          migration:
            image:
              repository: ghcr.io/toeverything/affine
              tag: 0.25.5@sha256:6e0a165229b31162f358111610750ed8d6b1c345b96a1912f41015520e11d759

            command: ["sh", "-c", "node ./scripts/self-host-predeploy.js"]

            env:
              TZ: America/New_York
              NODE_ENV: production
              AFFINE_INDEXER_ENABLED: false
              AFFINE_OIDC_ISSUER: "https://auth.dmfrey.com/application/o/affine/.well-known/openid-configuration"
              AFFINE_SERVER_EXTERNAL_URL: "https://{{ .Release.Name }}.dmfrey.com"
              CONFIG_LOCATION: /root/.affine/config
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-affine-app
                    key: uri
              MAILER_HOST: smtp-relay.kube-system.svc.cluster.local
              MAILER_PORT: 25
              MAILER_SENDER: "Affine No Reply <noreply@homelab5767.cc>"
              MAILER_IGNORE_TLS: true
              REDIS_SERVER_HOST: affine-kv-cluster.self-hosted.svc.cluster.local
              REDIS_SERVER_PORT: 6379
              UPLOAD_LOCATION: /root/.affine/storage

        containers:
          app:
            image:
              repository: ghcr.io/toeverything/affine
              tag: 0.25.5@sha256:6e0a165229b31162f358111610750ed8d6b1c345b96a1912f41015520e11d759

            env:
              TZ: America/New_York
              NODE_ENV: production
              AFFINE_INDEXER_ENABLED: false
              AFFINE_OIDC_ISSUER: "https://auth.dmfrey.com/application/o/affine/.well-known/openid-configuration"
              AFFINE_SERVER_EXTERNAL_URL: "https://{{ .Release.Name }}.dmfrey.com"
              CONFIG_LOCATION: /root/.affine/config
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-affine-app
                    key: uri
              MAILER_HOST: smtp-relay.kube-system.svc.cluster.local
              MAILER_PORT: 25
              MAILER_SENDER: "Affine No Reply <noreply@homelab5767.cc>"
              MAILER_IGNORE_TLS: true
              REDIS_SERVER_HOST: affine-kv-cluster.self-hosted.svc.cluster.local
              REDIS_SERVER_PORT: 6379
              UPLOAD_LOCATION: /root/.affine/storage

            envFrom:
              - secretRef:
                  name: affine-secret

            resources:
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: 3010

    route:
      app:
        annotations:
          # gatus.home-operations.com/endpoint: |-
          #   conditions: ["[STATUS] == 200"]
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/name: Affine
          gethomepage.dev/icon: affine.png
          gethomepage.dev/description: A privacy-focused, local-first, open-source, and ready-to-use alternative for Notion & Miro.
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /root/.affine/config

      uploads:
        enabled: true
        type: nfs
        server: nas.internal
        path: /media/affine
        globalMounts:
          - path: /root/.affine/storage

      tmp:
        type: emptyDir
