---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: affine

spec:

  chartRef:
    kind: OCIRepository
    name: affine

  interval: 1h

  values:

    controllers:

      affine:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          migration:
            image:
              repository: ghcr.io/toeverything/affine
              tag: 0.25.2@sha256:551be827a25f6907077569b616645fcc7747ece42c608b2259913ffcc9a8dfd0

            command: ["sh", "-c", "node ./scripts/self-host-predeploy.js"]

            env:
              TZ: America/New_York
              AFFINE_INDEXER_ENABLED: false
              AFFINE_SERVER_EXTERNAL_URL: "https://{{ .Release.Name }}.dmfrey.com"
              CONFIG_LOCATION: /affine/config
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-affine-app
                    key: uri
              MAILER_HOST: smtp-relay.kube-system.svc.cluster.local
              MAILER_PORT: 25
              REDIS_SERVER_HOST: affine-kv-cluster.self-hosted.svc.cluster.local
              REDIS_SERVER_PORT: 6379
              UPLOAD_LOCATION: /affine/storage

        containers:
          app:
            image:
              repository: ghcr.io/toeverything/affine
              tag: 0.25.2@sha256:551be827a25f6907077569b616645fcc7747ece42c608b2259913ffcc9a8dfd0

            env:
              TZ: America/New_York
              AFFINE_INDEXER_ENABLED: false
              AFFINE_SERVER_EXTERNAL_URL: "https://{{ .Release.Name }}.dmfrey.com"
              CONFIG_LOCATION: /affine/config
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-affine-app
                    key: uri
              MAILER_HOST: smtp-relay.kube-system.svc.cluster.local
              MAILER_PORT: 25
              REDIS_SERVER_HOST: affine-kv-cluster.self-hosted.svc.cluster.local
              REDIS_SERVER_PORT: 6379
              UPLOAD_LOCATION: /affine/storage

            # envFrom:
            #   - secretRef:
            #       name: affine-secret

            resources:
              limits:
                memory: 2Gi

            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities:
            #     drop:
            #       - ALL

    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    #     seccompProfile: { type: RuntimeDefault }

    service:
      app:
        ports:
          http:
            port: 3010

    route:
      app:
        annotations:
          # gatus.home-operations.com/endpoint: |-
          #   conditions: ["[STATUS] == 200"]
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/name: Affine
          gethomepage.dev/icon: affine.png
          gethomepage.dev/description: A privacy-focused, local-first, open-source, and ready-to-use alternative for Notion & Miro.
          # gethomepage.dev/widget.type: romm
          # gethomepage.dev/widget.url: http://romm.media.svc.cluster.local:8080
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /affine/config

      uploads:
        enabled: true
        type: nfs
        server: nas.internal
        path: /media/affine
        globalMounts:
          - path: /affine/storage

      tmp:
        type: emptyDir
