---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkwarden-db
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      name: linkwarden-cnpg
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/self-hosted/linkwarden/linkwarden-db"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkwarden
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: linkwarden-db
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/self-hosted/linkwarden/app"
  postBuild:
    substitute:
      APP: linkwarden
      VOLSYNC_CLAIM: linkwarden-data
      VOLSYNC_CAPACITY: 20Gi
      VOLSYNC_CACHE_CAPACITY: 20Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  timeout: 5m
  wait: true
