---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app otbr
spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 3

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall

  uninstall:
    keepHistory: false

  values:

    controllers:

      *app :

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: openthread/otbr
              tag: jammy
              pullPolicy: IfNotPresent

            env:
              TZ: "${TIMEZONE}"

            resources:
              requests:
                memory: "100M"
              limits:
                memory: "500M"

            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
              fsGroupChangePolicy: "OnRootMismatch"
              readOnlyRootFilesystem: false

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        supplementalGroups:
          - 34
        # sysctls:
        #   - name: net.ipv6.conf.all.disable_ipv6
        #     value: "0"
        #   - name: net.ipv4.conf.all.forwarding
        #     value: "1"
        #   - name: net.ipv6.conf.all.forwarding
        #     value: "1"

    service:
      *app :
        controller: *app
        ports:
          http:
            port: 8080
            primary: true
          rest:
            port: 8081
