---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr

spec:

  chartRef:
    kind: OCIRepository
    name: lidarr

  interval: 1h

  values:

    controllers:

      lidarr:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        # initContainers:
        #   fix-permissions:
        #     image:
        #       repository: busybox
        #       tag: stable

        #     command: ["sh", "-c", "chown -R 1000:1000 /config/*"]

        #     securityContext:
        #       runAsNonRoot: false
        #       readOnlyRootFilesystem: true
        #       allowPrivilegeEscalation: true
        #       runAsUser: 0
        #       runAsGroup: 0
        #       capabilities: { add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"], drop: ["ALL"] }

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 3.1.2

            env:
              TZ: America/New_York
              LIDARR__INSTANCE_NAME: lidarr
              LIDARR__PORT: &port 8686
              LIDARR__LOG_LEVEL: debug
              LIDARR__ANALYTICS_ENABLED: "False"
              LIDARR__APPLICATION_URL: "https://lidarr.dmfrey.com"
              LIDARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: lidarr-secret
                    key: LIDARR_API_KEY

            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port
            primary: true

    route:
      app:
        hostnames: ["{{ .Release.Name }}.dmfrey.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: Lidarr
          gethomepage.dev/icon: lidarr.png
          gethomepage.dev/description: Music Downloads
          gethomepage.dev/widget.type: lidarr
          gethomepage.dev/widget.url: http://lidarr.media.svc.cluster.local:8686
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_LIDARR_TOKEN}}` }}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}

      media:
        type: nfs
        server: nas.internal
        path: /media/

      backups:
        enabled: true
        type: nfs
        server: nas.internal
        path: /plexbackups/backups/lidarr
        advancedMounts:
          *app :
            *app :
              - path: /config/Backups
                readOnly: false

      tmp:
        type: emptyDir
        medium: Memory
        advancedMounts:
          *app :
            *app :
              - path: /tmp

    # serviceMonitor:
    #   metrics:
    #     enabled: true
    #     serviceName: *app
    #     endpoints:
    #       - port: metrics
    #         scheme: http
    #         path: /metrics
    #         interval: 10m
    #         scrapeTimeout: 10s
