---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: prometheus-pushgateway
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 3.5.0
  url: oci://ghcr.io/prometheus-community/charts/prometheus-pushgateway
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-pushgateway

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: prometheus-pushgateway
    namespace: observability

  install:
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  driftDetection:
    mode: enabled

  values:
