---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyplex-watched
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/homelab-k8s-001/apps/media/jellyplex-watched/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 5m
  timeout: 1m30s
  retryInterval: 30s
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  dependsOn:
    - name: plex
    - name: jellyfin
