---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rdt-client
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: pod-gateway
      namespace: network
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/download/rdt-client/app"
  postBuild:
    substitute:
      APP: rdt-client
      GATUS_SUBDOMAIN: rdt
      VOLSYNC_CLAIM: rdt-client-config
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  targetNamespace: download