---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi-dns

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: unifi-dns

  install:
    disableSchemaValidation: true # Ref: https://github.com/kubernetes-sigs/external-dns/issues/5206
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    disableSchemaValidation: true # Ref: https://github.com/kubernetes-sigs/external-dns/issues/5206
    remediation:
      strategy: rollback
      retries: 3

  values:

    fullnameOverride: *app

    logLevel: &logLevel info

    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.1@sha256:e9b7bf621768c490110fb154c94a4f610f254c9f0c540140ea429c601a8475dd   # v0.3.4@sha256:28dc00c7a21f9571d43181fcc0dd3de59e291741f27bc075d7e06378876b2974

        env:
          - name: &name UNIFI_HOST
            valueFrom:
              secretKeyRef:
                name: &secret unifi-dns-secret
                key: *name
          - name: &name UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: *secret
                key: *name
          - name: LOG_LEVEL
            value: *logLevel

        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5

        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5

    # extraArgs:
    #   - --ignore-ingress-tls-spec

    triggerLoopOnEvent: true

    policy: sync

    sources:
      - gateway-httproute
      - service

    txtOwnerId: homelab-k8s-001
    txtPrefix: homelab-k8s-001.
    domainFilters:
      - dmfrey.com

    serviceMonitor:
      enabled: true

    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
