---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: terraform
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: terraform-secret
    template:
      engineVersion: v2
      data:
        service_account_json: "{{ .OP_CONNECT_TOKEN }}"
        OP_CONNECT_TOKEN: "{{ .OP_CONNECT_TOKEN }}"
        OP_CONNECT_HOST: "http://onepassword.external-secrets.svc.cluster.local"
  dataFrom:
  - extract:
      key: 1password
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-users
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: authentik-users-secret
    template:
      engineVersion: v2
      data:
        # users
        USERS_DMFREY_NAME: '{{ .USERS_DMFREY_NAME }}'
        USERS_DMFREY_EMAIL: '{{ .USERS_DMFREY_EMAIL }}'
        USERS_DMFREY_PASSWORD: '{{ .USERS_DMFREY_PASSWORD }}'
        USERS_SDFREY_NAME: '{{ .USERS_SDFREY_NAME }}'
        USERS_SDFREY_EMAIL: '{{ .USERS_SDFREY_EMAIL }}'
        USERS_SDFREY_PASSWORD: '{{ .USERS_SDFREY_PASSWORD }}'
        USERS_CGFREY_NAME: '{{ .USERS_CGFREY_NAME }}'
        USERS_CGFREY_EMAIL: '{{ .USERS_CGFREY_EMAIL }}'
        USERS_CGFREY_PASSWORD: '{{ .USERS_CGFREY_PASSWORD }}'
        USERS_MKFREY_NAME: '{{ .USERS_MKFREY_NAME }}'
        USERS_MKFREY_EMAIL: '{{ .USERS_MKFREY_EMAIL }}'
        USERS_MKFREY_PASSWORD: '{{ .USERS_MKFREY_PASSWORD }}'
  dataFrom:
  - extract:
      key: users
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-grafana
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: authentik-grafana-secret
    template:
      engineVersion: v2
      data:
        # users
        GRAFANA_CLIENT_ID: '{{ .AUTHENTIK_CLIENT_ID }}'
        GRAFANA_CLIENT_SECRET: '{{ .AUTHENTIK_CLIENT_SECRET }}'
  dataFrom:
  - extract:
      key: grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-spring-dev
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: authentik-spring-dev-secret
    template:
      engineVersion: v2
      data:
        # users
        SPRING_DEV_CLIENT_ID: '{{ .AUTHENTIK_CLIENT_ID }}'
        SPRING_DEV_CLIENT_SECRET: '{{ .AUTHENTIK_CLIENT_SECRET }}'
  dataFrom:
  - extract:
      key: spring-dev
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        NZBPLANET_API_KEY: "{{ .PROWLARR_NZBPLANET_API_KEY }}"
  dataFrom:
  - extract:
      key: prowlarr
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: sabnzbd-secret
    template:
      engineVersion: v2
      data:
        SABNZBD_API_KEY: "{{ .SABNZBD_API_KEY }}"
        SABNZBD_NZB_KEY: "{{ .SABNZBD_NZB_KEY }}"
        SABNZBD_PUSHOVER_API_TOKEN: "{{ .PUSHOVER_USER_KEY }}"
        SABNZBD_PUSHOVER_USER_KEY: "{{ .PUSHOVER_SABNZBD_API_KEY }}"
        SVR_NZBPLANET_USERNAME: "{{ .SVR_NZBPLANET_USERNAME }}"
        SVR_NZBPLANET_PASSWORD: "{{ .SVR_NZBPLANET_PASSWORD }}"
        SVR_NZBGEEK_USERNAME: "{{ .SVR_NZBGEEK_USERNAME }}"
        SVR_NZBGEEK_PASSWORD: "{{ .SVR_NZBGEEK_PASSWORD }}"
        SVR_FRUGALUSENET_USERNAME: "{{ .SVR_FRUGALUSENET_USERNAME }}"
        SVR_FRUGALUSENET_PASSWORD: "{{ .SVR_FRUGALUSENET_PASSWORD }}"
  dataFrom:
  - extract:
      key: pushover
  - extract:
      key: sabnzbd
