---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller

spec:

  chartRef:
    kind: OCIRepository
    name: tofu-controller

  interval: 1h

  values:

    allowCrossNamespaceRefs: true

    # installCRDs: true

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m

    runner:
      image:
        repository: ghcr.io/joryirving/opentofu-runner
        tag: 1.11.1@sha256:2fb6a198c7a8cbc2df272068c6420911e259db087c41d5f469736390c3c0907b
      serviceAccount:
        create: true
        allowedNamespaces:
          - download
          - media
          - security
