---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller

spec:

  chartRef:
    kind: OCIRepository
    name: tofu-controller

  interval: 1h

  values:

    allowCrossNamespaceRefs: true

    # installCRDs: true

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m

    runner:
      image:
        repository: ghcr.io/joryirving/opentofu-runner
        tag: 1.11.4@sha256:2a67af146e3dea4c4862cff2b322a253097c21d6924cd300e0d437309f99dab0
      serviceAccount:
        create: true
        allowedNamespaces:
          - download
          - media
          - security
