---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    - Communicate:
        - Discord:
            - icon: discord.png
              href: 'https://discord.com/app'
        - Gmail:
            - icon: gmail.png
              href: 'http://gmail.com'
        - Google Calendar:
            - icon: google-calendar.png
              href: 'https://calendar.google.com'
    - Media:
        - YouTube:
            - icon: youtube.png
              href: 'https://youtube.com/feed/subscriptions'
        - Youtube Music:
            - icon: https://raw.githubusercontent.com/dmfrey/home-gitops/main/docs/src/assets/icons/youtube-music.png
              href: 'https://music.youtube.com'
    - Reading:
        - Reddit:
            - icon: reddit.png
              href: 'https://reddit.com'
    - Git:
        - kubesearch:
            - icon: kubernetes-dashboard.png
              href: 'https://kubesearch.dev/'
        - home-ops:
            - icon: github.png
              href: 'https://github.com/dmfrey/home-gitops'
        - hass-config:
            - icon: github.png
              href: 'https://github.com/dmfrey/hass-config'
  docker.yaml: ""
  kubernetes.yaml: |
    mode: cluster
    gateway: true
    ingress: false
    traefik: false
  services.yaml: |
    - Home:
        - SMLight-SLZB-06M:
            href: http://192.168.30.50
            icon: zigbee.png
            description: Zigbee Controller
        - SMLight-SLZB-06-01:
            href: http://192.168.30.51
            icon: zigbee.png
            description: Zigbee Controller
    - Infrastructure:
        - QNAP:
            href: https://192.168.30.5:7080/cgi-bin/
            description: QNAP NAS TS-462
            icon: qnap.png
            widget:
              type: qnap
              url: http://nas.internal:7080
              username: {{HOMEPAGE_VAR_QNAP_USERNAME}}
              password: {{HOMEPAGE_VAR_QNAP_PASSWORD}}
    - Network:
        - Cloudflared:
            href: https://dash.cloudflare.com/
            icon: cloudflare-zero-trust.png
            description: Cloudflared Tunnel Status
            widget:
              type: cloudflared
              accountid: {{HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARED_TUNNELID}}
              key: {{HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN}}
              fields: ["status"]
        - Unifi:
            href: https://192.168.86.1
            icon: unifi.png
            description: Unifi Dashboard
            widget:
              type: unifi
              url: https://192.168.86.1
              username: {{HOMEPAGE_VAR_UNIFI_USERNAME}}
              password: {{HOMEPAGE_VAR_UNIFI_PASSWORD}}
    - Calendar:
        - Agenda:
            widget:
              type: calendar
              view: agenda # optional - possible values monthly, agenda
              maxEvents: 20 # optional - defaults to 10
              integrations: # optional
                - type: sonarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr, lidarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Sonarr # service name for that widget
                - type: radarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr, lidarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Radarr # service name for that widget
                - type: lidarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr, lidarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Lidarr # service name for that widget
    - Observability:
        - Grafana:
            href: https://grafana.dmfrey.com
            icon: grafana.png
            description: Monitoring Dashboards
            widget:
              type: prometheusmetric
              url: http://prometheus-operated.observability.svc.cluster.local:9090
              refreshInterval: 10000 # optional - in milliseconds, defaults to 10s
              metrics:
                  - label: Dashboards
                    query: grafana_stat_totals_dashboard
                  - label: Data sources
                    query: grafana_stat_totals_datasource
                  - label: Total alerts
                    query: grafana_stat_totals_alert_rules
                  - label: Alerts triggered
                    query: grafana_alerting_alerts{state="alertin|nodata|error"}
  settings.yaml: |
    title: Dashboard
    favicon: https://github.com/walkxcode/dashboard-icons/blob/main/png/heimdall.png
    useEqualHeights: true
    theme: dark
    background:
      image: https://raw.githubusercontent.com/dmfrey/home-gitops/main/docs/src/assets/101518784_p0.jpg
      opacity: 20
    color: slate
    headerStyle: clean
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
    layout:
      Network:
        style: row
        columns: 3
        icon: mdi-network
      Tools:
        style: row
        columns: 3
        icon: mdi-tools
      AI:
        style: row
        columns: 3
        icon: si-ollama
      Games:
        style: row
        columns: 3
        icon: mdi-minecraft
      Calendar:
        style: column
        icon: mdi-calendar
      Video:
        style: column
        icon: mdi-play-circle
      Books:
        style: row
        columns: 2
        icon: mdi-book
      Home:
        style: row
        columns: 5
        icon: mdi-home-analytics
      Infrastructure:
        style: row
        columns: 5
        icon: mdi-server
      Observability:
        style: row
        columns: 5
        icon: mdi-chart-line
      Downloads:
        style: row
        columns: 3
        icon: mdi-download-circle
  widgets.yaml: |
    - logo:
        icon: https://raw.githubusercontent.com/dmfrey/home-gitops/main/docs/src/assets/icons/lds-transparent.png
    - search:
        provider: [google, duckduckgo]
        focus: false
        target: _blank
    - greeting:
        text_size: xl
        text: "Howdy Hey!"
    - kubernetes:
        cluster:
          cpu: true
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - openmeteo:
        label: Home
        latitude: {{HOMEPAGE_VAR_LATITUDE}}
        longitude: {{HOMEPAGE_VAR_LONGITUDE}}
        units: imperial
        cache: 5
    - datetime:
        text_size: l
        format:
          timeStyle: short
          dateStyle: short
          hourCycle: h23
    - unifi_console:
        url: https://192.168.86.1:443
        username: {{HOMEPAGE_VAR_UNIFI_USERNAME}}
        password: {{HOMEPAGE_VAR_UNIFI_PASSWORD}}
