---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pod-gateway
  namespace: flux-system
spec:
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
      app.kubernetes.io/instance: vpn-gateway
  path: "./kubernetes/homelab-k8s-001/apps/network/pod-gateway/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 5m
  timeout: 1m30s
  retryInterval: 30s
  postBuild:
    substitute:
      APP: *app
    substituteFrom: []
  decryption:
    provider: sops
  dependsOn:
    - name: cert-manager
