---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dynatrace-operator

spec:

  interval: 30m

  # releaseName: dynatrace-operator
  # chartRef:
  #   kind: OCIRepository
  #   name: dynatrace

  chart:
    spec:
      chart: dynatrace-operator
      version: 1.4.1
      sourceRef:
        kind: HelmRepository
        name: dynatrace
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    installCRD: true

