# Loads default set of integrations. Do not remove.
default_config:

prometheus:
  namespace: home-assistant

http:
  # server_host: 0.0.0.0
  ip_ban_enabled: true
  login_attempts_threshold: 5
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.29.0/24
    - 10.42.0.0/16

# homeassistant:
  # name: Home

recorder:
  db_url: !env_var HASS_RECORDER_DB_URL

automation: !include automations.yaml
# binary_sensor: !include_dir_merge_list binary_sensors
group: !include_dir_merge_named groups
input_boolean: !include_dir_merge_named input_booleans
input_button: !include_dir_merge_named input_buttons
input_datetime: !include_dir_merge_named input_datetimes
input_number: !include_dir_merge_named input_numbers
input_select: !include_dir_merge_named input_selects
input_text: !include_dir_merge_named input_texts
notify: !include notify.yaml
scene: !include scenes.yaml
schedule: !include_dir_merge_named schedule
script: !include scripts.yaml
  # !include_dir_merge_named scripts
# sensor: !include_dir_merge_list sensors
# template: !include_dir_merge_list templates

template:
  - binary_sensor:
    - unique_id: 55c017c0-9c0d-471a-bb61-37461a3394c8
      default_entity_id: binary_sensor.family_home
      name: Family Home
      state: '{{ is_state(''person.daniel_frey'', ''home'') or is_state(''person.stephanie_frey'', ''home'') or is_state(''person.camdyn_frey'', ''home'') or is_state(''person.molly_frey'', ''home'') }}'

  - binary_sensor:
    - unique_id: 23c097c4-cf57-4b5e-8995-4fbfa3593758
      default_entity_id: binary_sensor.girls_home
      name: Girls Home
      state: '{{ is_state(''person.camdyn_frey'', ''home'') or is_state(''person.molly_frey'', ''home'') }}'

  - binary_sensor:
    - unique_id: 5d29db3a-bcfd-4cb3-9256-0037da8870f0
      default_entity_id: binary_sensor.parents_home
      name: Parents Home
      state: '{{ is_state(''person.daniel_frey'', ''Home'') or is_state(''person.stephanie_frey'', ''Home'') }}'

  - binary_sensor:
    - default_entity_id: binary_sensor.we_are_out_of_bed
      name: We are out of bed
      state: '{{ is_state(''binary_sensor.sleepnumber_our_bed_daniel_is_in_bed'', ''off'') and is_state(''binary_sensor.sleepnumber_our_bed_stephanie_is_in_bed'', ''off'') }}'

  - sensor:
    - default_entity_id: sensor.do_not_disturb
      name: Do Not Disturb
      state: '{{ 7 > now().hour < 23 }}'

  - sensor:
    - default_entity_id: sensor.anyone_home
      name: Home Status
      state: '{% if is_state(''group.family'', ''home'')-%}home{%else%}not_home{% endif %}'

  - triggers:
    - trigger:
        - platform: time
          at: "00:00"
      action:
        - service: calendar.get_events
          target:
            entity_id: calendar.school_calendar
          data:
            duration:
              minutes: 5
          response_variable: calendar
        - variables:
            events: >
              {{
                calendar['calendar.school_calendar'].events
                | map(attribute='summary')
                | list
              }}
      binary_sensor:
        - name: "School Day"
          state: "{{ 'School Day' in events }}"
          auto_off:
            hours: 14
            minutes: 20
        - name: "Holiday"
          state: "{{ 'Holiday' in events }}"
          auto_off:
            hours: 23
            minutes: 59
        - name: "Snow Day"
          state: "{{ 'Snow Day' in events }}"
          auto_off:
            hours: 23
            minutes: 59

    - trigger:
        - platform: time
          at: "00:00"
      action:
        - service: calendar.get_events
          target:
            entity_id: calendar.work_calendar
          data:
            duration:
              minutes: 5
          response_variable: calendar
        - variables:
            events: >
              {{
                calendar['calendar.work_calendar'].events
                | map(attribute='summary')
                | list
              }}
      binary_sensor:
        - name: "Work Day"
          state: "{{ 'Work Day' in events }}"
          auto_off:
            hours: 17
            minutes: 30
        - name: "Work Holiday"
          state: "{{ 'Work Holiday' in events }}"
          auto_off:
            hours: 23
            minutes: 59
        - name: "Work Travel"
          state: "{{ 'Work Travel' in events }}"
          auto_off:
            hours: 23
            minutes: 59

frontend:
  themes: !include_dir_merge_named themes

# zone: !include zone.yaml

# configuration.yaml entry which defines a Home Assistant sensor from MQTT
# mqtt:
#   sensor:
#     - name: "propane_tank_1_sensor_voltage"
#       state_topic: "propane/1/voltage"
#       value_template: "{{ value }}"
#       unit_of_measurement: "units"
#     - name: "propane_tank_1_percentage"
#       state_topic: "propane/1/percentage"
#       value_template: "{{ value }}"
#       unit_of_measurement: "%"
