---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app prowlarr
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/download/prowlarr/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: prowlarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom: []
  dependsOn:
    - name: media-common-mounts
    - name: reflector
    - name: kube-prometheus-stack-crds
    - name: pod-gateway
    - name: volsync
---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app prowlarr-provision
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/homelab-k8s-001/apps/download/prowlarr/provision"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: tf-controller
    - name: prowlarr
