---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-node-exporter
  namespace: flux-system
spec:
  interval: 15m
  path: "./kubernetes/apps/monitor/node-exporter/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-kube-prometheus-stack-crds
