---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rdt-client
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: "./kubernetes/apps/download/rdt-client/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 15m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: rdt
      VOLSYNC_CLAIM: rdt-client-config
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: download-common-mount
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-pod-gateway
