---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-sonarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname sonarr
  path: "./kubernetes/apps/media/sonarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "1568"
      APP_GID: "1568"
      VOLSYNC_CLAIM: sonarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-media-common
    - name: cluster-apps-media-common-mounts
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-volsync
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-sonarr-provision
  namespace: flux-system
spec:
  targetNamespace: media
  path: "./kubernetes/apps/media/sonarr/provision"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-sonarr
    - name: cluster-apps-tf-controller
