---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: recyclarr

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  driftDetection:
    mode: enabled

  values:

    defaultPodOptions:
      restartPolicy: OnFailure

    controllers:
      recyclarr:
        type: cronjob

        cronjob:
          schedule: "@daily"
          ttlSecondsAfterFinished: 86400

        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb

            command: [ "/app/recyclarr/recyclarr" ]

            args:
              - "sync"

            envFrom:
              - secretRef:
                  name: recyclarr-secret

    service:
      app:
        enabled: false
        controller: recyclarr

    persistence:
      config:
        enabled: true
        type: configMap
        name: recyclarr-configmap
        globalMounts:
          - path: /config/configs
            readOnly: true
        defaultMode: 0775
