---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: system
spec:
  interval: 15m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.1.0
      sourceRef:
        kind: HelmRepository
        name: postfinance
        namespace: flux-system
      interval: 15m
  valuesFrom:
    - kind: ConfigMap
      name: kubelet-csr-approver-values
