---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: authentik-kv-cluster

spec:

  replicas: 3

  image: ghcr.io/dragonflydb/dragonfly:v1.35.0@sha256:298224bb39ac02c476696fe004d408deee8ad7b96b0cb9395abf1931c6ab0c34

  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: authentik-kv-secret
          key: AWS_ACCESS_KEY_ID
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-kv-secret
          key: AWS_SECRET_ACCESS_KEY

  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --s3_endpoint=minio.internal:9000
    - --s3_use_https=false

  snapshot:
    cron: 0 0 * * *
    dir: "s3://dragonflydb/authentik"

  resources:
    requests:
      cpu: 100m
    limits:
      memory: 512Mi
