---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app readarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app
  path: "./kubernetes/apps/media/readarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: readarr-config
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-volsync
    - name: cluster-apps-media-common
    - name: cluster-apps-media-common-mounts
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app readarr-provision
  namespace: flux-system
spec:
  path: "./kubernetes/apps/media/readarr/provision"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-tf-controller
    - name: readarr
