---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto

spec:

  chartRef:
    kind: OCIRepository
    name: mosquitto

  interval: 1h

  values:

    controllers:

      mosquitto:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          user-import:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22@sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e

            command:
              - "/bin/sh"
              - -c

            args:
              - ls -lart /data/mosquitto_init && ls -lart /data/mosquitto_secret && ls -larth /data/external_config && /data/mosquitto_init/load-users.sh /data/mosquitto_secret /data/external_config/mosquitto_pwd && cmod 0700 /data/external_config/mosquitto_pwd && mosquitto_passwd -U /data/external_config/mosquitto_pwd && echo "User import Completed"

        containers:

          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22@sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e

            resources:
              requests:
                cpu: 100m
              limits:
                memory: 350Mi

    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mqtt.dmfrey.com
          lbipam.cilium.io/ips: 192.168.29.247
        ports:
          http:
            port: 1883

    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}

      mosquitto-config:
        enabled: true
        type: configMap
        name: mosquitto-config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
        defaultMode: 0664

      mosquitto-secret:
        enabled: true
        type: secret
        name: mosquitto-secret
        globalMounts:
          - path: /data/mosquitto_secret
        defaultMode: 0664

      mosquitto-init-config:
        enabled: true
        type: configMap
        name: mosquitto-init-config
        globalMounts:
          - path: /data/mosquitto_init/load-users.sh
            subPath: load-users.sh
        defaultMode: 0775

      external-config:
        enabled: true
        type: emptyDir
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/external_config
            user-import:
              - path: /data/external_config
