---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wizarr

spec:

  chartRef:
    kind: OCIRepository
    name: wizarr

  interval: 1h

  values:

    controllers:

      wizarr:

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/wizarrrr/wizarr
              tag: v2025.11.2

            env:
              TZ: America/New_York
              PUID: 1000
              PGID: 100

            resources:
              requests:
                cpu: 15m
                memory: 180M
              limits:
                memory: 500M

    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    #     seccompProfile: { type: RuntimeDefault }

    service:
      app:
        ports:
          http:
            port: 5690

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://join.dmfrey.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Wizarr
          gethomepage.dev/icon: wizarr.png
          gethomepage.dev/description: Plex Invite Management
        hostnames:
          - join.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /data/database
