---
apiVersion: infra.contrib.fluxcd.io/v1alpha2
kind: Terraform
metadata:
  name: readarr-provisioner
  namespace: media
spec:

  interval: 15m
  path: "./"

  breakTheGlass: true
  approvePlan: auto
  destroyResourcesOnDeletion: true

  sourceRef:
    kind: OCIRepository
    name: oci-terraform-readarr
    namespace: flux-system

  writeOutputsToSecret:
    name: readarr-tfstate

  varsFrom:
    - kind: Secret
      name: starr-apps-secret
    - kind: Secret
      name: sabnzbd-secret

  tfstate:
    forceUnlock: "auto"
    lockIdentifier: 001eb6ed-85d1-39b0-31a5-4bd8703eae7f