---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
        # BAZARR_API_KEY: "{{ .BAZARR_API_KEY }}"
        # LIDARR_API_KEY: "{{ .LIDARR_API_KEY }}"
        # RADARR_API_KEY: "{{ .RADARR_API_KEY }}"
        # READARR_API_KEY: "{{ .READARR_API_KEY }}"
        # SONARR_API_KEY: "{{ .SONARR_API_KEY }}"
        # NZBPLANET_API_KEY: "{{ .PROWLARR_NZBPLANET_API_KEY }}"
  dataFrom:
  # - extract:
  #     key: bazarr
  # - extract:
  #     key: lidarr
  - extract:
      key: prowlarr
  # - extract:
  #     key: radarr
  # - extract:
  #     key: readarr
  # - extract:
  #     key: sonarr
