---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr

spec:

  chartRef:
    kind: OCIRepository
    name: prowlarr

  interval: 1h

  values:

    controllers:

      prowlarr:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"
          setGateway: "true"

        # initContainers:
        #   fix-permissions:
        #     image:
        #       repository: busybox
        #       tag: stable

        #     command: ["sh", "-c", "chown -R 1000:1000 /config/*"]

        #     securityContext:
        #       runAsNonRoot: false
        #       readOnlyRootFilesystem: true
        #       allowPrivilegeEscalation: true
        #       runAsUser: 0
        #       runAsGroup: 0
        #       capabilities: { add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"], drop: ["ALL"] }

        containers:

          app:
            image:
              repository: ghcr.io/home-operations/prowlarr
              tag: 2.3.2.5245@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438

            env:
              TZ: America/New_York
              PROWLARR__APP__INSTANCE_NAME: Prowlarr
              PROWLARR__APP__THEME: dark
              PROWLARR__AUTH__METHOD: External
              PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
              PROWLARR__LOG__DBENABLED: "False"
              PROWLARR__LOG_LEVEL: info
              PROWLARR__SERVER__PORT: &port 9696
              PROWLARR__UPDATE__BRANCH: develop
              # PROWLARR__AUTHENTICATION_METHOD: External
              # PROWLARR__APPLICATION_URL: "https://prowlarr.dmfrey.com"
              # PROWLARR__API_KEY:
              #   valueFrom:
              #     secretKeyRef:
              #       name: prowlarr-secret
              #       key: PROWLARR_API_KEY

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              # startup:
              #   enabled: false

            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

          # sidecars:
          # exporter:

          #   image:
          #     repository: ghcr.io/onedr0p/exportarr
          #     tag: v2.1.0

          #   args:
          #     - *app
          #     - --enable-additional-metrics

          #   env:
          #     URL: "http://localhost"
          #     CONFIG: "/config/config.xml"
          #     PORT: &metricsPort 9710

          #   resources:
          #     requests:
          #       cpu: 10m
          #     limits:
          #       memory: 128Mi

          #   securityContext:
          #     allowPrivilegeEscalation: false
          #     readOnlyRootFilesystem: true
          #     capabilities:
          #       drop:
          #         - ALL

    defaultPodOptions:
      labels:
        setGateway: "false"

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port
            # primary: true
          # metrics:
          #   port: *metricsPort

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: Prowlarr
          gethomepage.dev/icon: prowlarr.png
          gethomepage.dev/description: Download Indexes
          gethomepage.dev/widget.type: prowlarr
          gethomepage.dev/widget.url: http://prowlarr.download.svc.cluster.local:9696
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_PROWLARR_TOKEN}}` }}"
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
        #     sectionName: https
        # rules:
        #   - backendRefs:
        #       - name: *app
        #         port: *port

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}

      backups:
        type: nfs
        server: nas.internal
        path: /plexbackups/backups/prowlarr
        advancedMounts:
          prowlarr:
            app:
              - path: /config/Backups
                readOnly: false

      tmp:
        type: emptyDir
