---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr

spec:

  chartRef:
    kind: OCIRepository
    name: bazarr

  interval: 1h

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.5

            env:
              TZ: America/New_York
              BAZARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
              BAZARR__LOG_LEVEL: info
              POSTGRESS_ENABLED: true
              POSTGRES_HOST:
                valueFrom:
                  secretKeyRef:
                    name: bazarr-cnpg-app
                    key: host
              POSTGRES_PORT:
                valueFrom:
                  secretKeyRef:
                    name: bazarr-cnpg-app
                    key: port
              POSTGRES_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: bazarr-cnpg-app
                    key: dbname
              POSTGRES_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: bazarr-cnpg-app
                    key: username
              POSTGRES_PASSWD:
                valueFrom:
                  secretKeyRef:
                    name: bazarr-cnpg-app
                    key: password

            envFrom:
              - secretRef:
                  name: bazarr-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 6767
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi

            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece

            env:
              GITSYNC_REPO: https://github.com/KBlixt/subcleaner
              GITSYNC_REF: master
              GITSYNC_PERIOD: 24h
              GITSYNC_ROOT: /add-ons

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi

            securityContext: *securityContext

          # exporter:
          #   image:
          #     repository: ghcr.io/onedr0p/exportarr
          #     tag: v2.1.0

          #   args:
          #     - *app
          #     - --enable-additional-metrics

          #   env:
          #     URL: "http://localhost:6767"
          #     PORT: &metricsPort 9710
          #     APIKEY:
          #       valueFrom:
          #         secretKeyRef:
          #           name: bazarr-secret
          #           key: BAZARR_API_KEY

          #   resources:
          #     requests:
          #       cpu: 10m
          #     limits:
          #       memory: 128Mi

          #   securityContext: *securityContext

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          # metrics:
          #   port: *metricsPort

    route:
      *app :
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: Bazarr
          gethomepage.dev/icon: bazarr.png
          gethomepage.dev/description: Subtitle Downloads
          gethomepage.dev/widget.type: bazarr
          gethomepage.dev/widget.url: http://bazarr.media.svc.cluster.local:6767
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_BAZARR_TOKEN}}` }}"
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https

    persistence:
      add-ons:
        type: emptyDir

      # cache:
      #   type: emptyDir
      #   medium: Memory
      #   globalMounts:
      #     - path: /config/cache

      config:
        existingClaim: ${VOLSYNC_CLAIM}

      # log:
      #   type: emptyDir
      #   globalMounts:
      #     - path: /config/log

      media:
        type: nfs
        server: nas.internal
        path: /media

      scripts:
        type: configMap
        name: bazarr-scripts
        defaultMode: 0775
        globalMounts:
          - readOnly: true

      tmp:
        type: emptyDir

      backups:
        type: nfs
        server: nas.internal
        path: /plexbackups/backups/bazarr
        globalMounts:
          - path: /config/backup
            readOnly: false

    # serviceMonitor:
    #   metrics:
    #     serviceName: *app
    #     endpoints:
    #       - port: metrics
    #         scheme: http
    #         path: /metrics
    #         interval: 10m
    #         scrapeTimeout: 10s
