---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-jellyfin
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname jellyfin
  path: ./kubernetes/apps/media/jellyfin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "568"
      APP_GID: "568"
      VOLSYNC_CLAIM: jellyfin-config
      VOLSYNC_CAPACITY: 20Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-media-common-mounts
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-volsync
