---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: esphome
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: home-assistant
    - name: mosquitto
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/home/esphome/app"
  postBuild:
    substitute:
      APP: esphome
      APP_UID: "0"
      APP_GID: "0"
      VOLSYNC_CLAIM: esphome-config-1
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home
  timeout: 5m
  wait: false
