---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tautulli
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname tautulli
  path: "./kubernetes/apps/media/tautulli/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-gitops
  wait: false
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "1568"
      APP_GID: "1568"
      VOLSYNC_CLAIM: tautulli-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: cluster-apps-plex
    - name: cluster-apps-rook-ceph-cluster
