---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-db
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/security/authentik/authentik-db"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-kv
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: datastore
    - name: rook-ceph-cluster
      namespace: rook-ceph
  healthChecks:
    - apiVersion: dragonflydb.io/v1alpha1
      kind: Dragonfly
      name: authentik-dragonflydb
      namespace: security
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/security/authentik/authentik-kv"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik
spec:
  dependsOn:
    - name: authentik-db
    - name: authentik-kv
    - name: smtp-relay
      namespace: kube-system
    - name: grafana
      namespace: observability
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/security/authentik/app"
  postBuild:
    substitute:
      APP: authentik
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-provision
spec:
  dependsOn:
    - name: authentik
    - name: plex
      namespace: media
  interval: 1h
  path: "./kubernetes/homelab-k8s-001/apps/security/authentik/provision"
  postBuild:
    substitute:
      APP: authentik-provision
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: true

