---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lidarr

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:
      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/lidarr
              tag: 2.3.3.4204@sha256:2e2f2198390431e7417615265231602f20ccd22dee214b4985ca9b3afe462ecc

            env:
              TZ: ${TIMEZONE}
              LIDARR__INSTANCE_NAME: *app
              LIDARR__PORT: &port 8686
              LIDARR__LOG_LEVEL: info
              LIDARR__ANALYTICS_ENABLED: "False"
              LIDARR__APPLICATION_URL: "https://lidarr.${SECRET_DOMAIN}"
              LIDARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: LIDARR_API_KEY

            ports:
              - name: http
                containerPort: *port

            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi

            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          # sidecars:
          exporter:
            dependsOn: app

            image:
              repository: ghcr.io/onedr0p/exportarr
              tag: v2.0.1

            args:
              - *app
              - --enable-additional-metrics

            env:
              - name: URL
                value: "http://localhost"
              - name: CONFIG
                value: "/config/config.xml"
              - name: PORT
                value: &metricsPort 9709

            ports:
              - name: metrics
                containerPort: *metricsPort

            securityContext: *securityContext

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: *metricsPort

    ingress:
      external:
        className: external
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          theme.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:headphones"
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
        - host: &host "lidarr.${SECRET_DOMAIN}"
          paths:
          - path: /
            service:
              identifier: *app
              port: *port
        tls:
        - hosts:
          - *host
          secretName: lidarr-tls-external

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}

      media:
        enabled: true
        existingClaim: nfs-media

      backups:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${QNAP_ADDR}"
            path: /plexbackups/backups/lidarr
        globalMounts:
          - path: /config/Backups
            readOnly: false

      tmp:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /tmp

    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 10s
