---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app frigate
spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: frigate

  maxHistory: 2

  install:
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:
      *app :
        type: statefulset

        annotations:
          configmap.reloader.stakater.com/reload: frigate-configmap
          secret.reloader.stakater.com/reload: frigate-secret

        # initContainers:
        #   config-setup:
        #     image:
        #       repository: ghcr.io/dmfrey/bash
        #       tag: 5.2.26-alpine3.20

        #     command:
        #       - "/usr/local/bin/bash"
        #       - -c
        #       - |
        #         envsubst < /tmp/config.yml > /config/config.yml
        #         exit 0

        #     envFrom:
        #       - secretRef:
        #           name: frigate-secret

        #     securityContext:
        #       runAsNonRoot: false
        #       runAsUser: 0
        #       runAsGroup: 0
        #       fsGroup: 0

        containers:
          *app :
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.17.0-beta2@sha256:413bdc3a9da269ac8ac8d42cde4ee7f453d69ae57b28852fc48bbe939e9e30b3

            # args:
              # - --memory=4G

            env:
              TZ: America/New_York
              LIBVA_DRIVER_NAME: i965 # iHD

            envFrom:
              - secretRef:
                  name: frigate-secret

            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &port 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            resources:
              claims:
                - name: gpu
              requests:
                cpu: 500m
                memory: 4Gi
              limits:
                memory: 16Gi

            securityContext:
              privileged: true

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: frigate

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          rtsp:
            port: 8554
          go2rtc:
            port: 1984

    route:
      *app :
        hostnames: ["{{ .Release.Name }}.dmfrey.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Frigate
          gethomepage.dev/icon: frigate.png
          gethomepage.dev/description: Frigate NVR
          gethomepage.dev/widget.type: frigate
          gethomepage.dev/widget.url: http://frigate.home.svc.cluster.local:5000
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          *app :
            *app :
              - path: /config

      config-file:
        type: configMap
        name: frigate-configmap
        advancedMounts:
          *app :
            # config-setup:
            #   - path: /tmp/config.yml
            #     subPath: config.yml
            #     readOnly: true
            *app :
              - path: /config/config.yml
                subPath: config.yml
                readOnly: false

      cache:
        type: emptyDir
        medium: Memory
        advancedMounts:
          *app :
            *app :
              - path: /dev/shm

      media:
        type: nfs
        server: nas.internal
        path: /media

      tmp:
        type: emptyDir
        medium: Memory
