---
# yaml-language-server: $schema=https://kubernetes-schemas-5e0.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader

spec:

  interval: 30m

  chart:
    spec:
      chart: reloader
      version: 1.2.1
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system

  values:

    reloader:
      podMonitor:
        enabled: true

      reloadStrategy: annotations

      deployment:

        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists

        resources:
          requests:
            cpu: 5m
            memory: 96M

