---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name esphome
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        secrets.yaml: |
            wifi_ssid: {{ .WIFI_SSID }}
            wifi_password: {{ .WIFI_PASSWORD }}
            # wifi_fallback_ssid_password:
            # mqtt_broker: mosquitto.home.svc.cluster.local
            # mqtt_username: {{ .ESPHOME_USER }}
            # mqtt_password: {{ .ESPHOME_PASS }}
            domain_devices: {{ .DOMAIN_DEVICES }}
            api_encryption_key: {{ .API_ENCRYPTION_KEY }}
  dataFrom:
  - extract:
      key: esphome
  - extract:
      key: mosquitto
