---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:

  chartRef:
    kind: OCIRepository
    name: esphome

  interval: 1h

  values:

    controllers:
      esphome:
        type: statefulset

        annotations:
          secret.reloader.stakater.com/reload: esphome,home-assistant-deploykey

        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2026.1.2@sha256:c9583f3073d3708c0eb4f602aa0fbaa5a8caf32d313d0558728eb3b75f840304

            env:
              - name: ESPHOME_DASHBOARD_USE_PING
                value: "true"

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            resources:
              requests:
                cpu: 5m
                memory: 128M
              limits:
                memory: 512M

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "iot-vlan",
            "namespace": "kube-system",
            "ips": ["192.168.50.3/24", "${IPV6_IOT_PREFIX}:3::1/64"],
            "mac": "5e:db:78:b3:b8:91"
          }]
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: &port 6052
          #   primary: true
          # api:
          #   port: 6053

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: ESPHome
          gethomepage.dev/icon: esphome.png
          gethomepage.dev/description: ESPHome Controller
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: http://esphome.home.svc.cluster.local:6052
        hostnames:
          - "{{ .Release.Name }}.dmfrey.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
        # rules:
        #   - backendRefs:
        #       - name: "{{ .Release.Name }}"
        #         port: *port

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"

      secrets:
        type: secret
        name: esphome
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml

      cache:
        type: emptyDir
        # globalMounts:
          # - path: /config/.esphome

      deploy-key:
        type: secret
        name: home-assistant-deploy-key
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: id_rsa
