---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo

spec:

  interval: 15m

  chart:
    spec:
      chart: tempo-distributed
      version: 1.32.7
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  valuesFrom:
    - targetPath: storage.trace.s3.bucket
      kind: ConfigMap
      name: tempo-ceph-bucket
      valuesKey: BUCKET_NAME
    - targetPath: storage.trace.s3.endpoint
      kind: ConfigMap
      name: tempo-ceph-bucket
      valuesKey: BUCKET_HOST
    - targetPath: storage.trace.s3.region
      kind: ConfigMap
      name: tempo-ceph-bucket
      valuesKey: BUCKET_REGION
    - targetPath: storage.trace.s3.access_key
      kind: Secret
      name: tempo-ceph-bucket
      valuesKey: AWS_ACCESS_KEY_ID
    - targetPath: storage.trace.s3.secret_key
      kind: Secret
      name: tempo-ceph-bucket
      valuesKey: AWS_SECRET_ACCESS_KEY

  values:

    global:
      clusterDomain: 'cluster.local'

    global_overrides:
      metrics_generator_processors:
        - service-graphs
        - span-metrics
        - local-blocks

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists

    gateway:
      enabled: true

    storage:
      trace:
        backend: s3
        s3:
          insecure: true

    traces:
      otlp:
        http:
          enabled: true
        grpc:
          enabled: true
      zipkin:
        enabled: true

    distributor:
      config:
        log_received_spans:
          enabled: true

    ingester:
      replicas: 2
      persistence:
        enabled: true
        storageClass: ceph-block

    serviceMonitor:
      enabled: true

    metricsGenerator:
      enabled: true

      config:
        registry:
          collection_interval: 15s
          external_labels: {}
          stale_duration: 15m

        processor:
          # -- For processors to be enabled and generate metrics, pass the names of the processors to overrides.metrics_generator_processors value like [service-graphs, span-metrics]
          service_graphs:
            # -- Additional dimensions to add to the metrics. Dimensions are searched for in the
            # -- resource and span attributes and are added to the metrics if present.
            dimensions: []
            histogram_buckets: [0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 6.4, 12.8]
            max_items: 10000
            wait: 10s
            workers: 10
          span_metrics:
            # -- Additional dimensions to add to the metrics along with the default dimensions.
            # -- Dimensions are searched for in the resource and span attributes and are added to the metrics if present.
            dimensions: []
            histogram_buckets: [0.002, 0.004, 0.008, 0.016, 0.032, 0.064, 0.128, 0.256, 0.512, 1.02, 2.05, 4.10]
          local_blocks:
            filter_server_spans: false

        storage:
          path: /var/tempo/wal
          wal:
          remote_write_flush_deadline: 1m
          remote_write:
            - url: http://thanos-receive.observability.svc.cluster.local:19291/api/v1/receive

        traces_storage:
          path: /var/tempo/traces

        metrics_ingestion_time_range_slack: 30s

      persistence:
        enabled: true
        storageClass: ceph-block

    usage_report:
      reporting_enabled: false
