---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openweb

spec:

  chartRef:
    kind: OCIRepository
    name: openweb

  interval: 1h

  values:

    controllers:

      openweb:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.7.2-ollama

            env:
              TZ: America/New_York
              ENABLE_OPENAI_API: False
              ENABLE_OLLAMA_API: True
              ENABLE_IMAGE_GENERATION: True
              WEBUI_NAME: OpenWeb UI
              WEBUI_URL: https://openweb.dmfrey.com
              DATA_DIR: /data
              OLLAMA_BASE_URL: http://ollama.ai.svc.cluster.local:11434
              # WEBUI_AUTH_TRUSTED_EMAIL_HEADER: X-authentik-email
              AUDIO_OPENAI_API_BASE_URL: https://piper.dmfrey.com/v1
              AUDIO_OPENAI_API_KEY: sk-111111111111 # fake key needed to make ui happy
              RAG_EMBEDDING_ENGINE: ollama

              # OAUTH
              ENABLE_OAUTH_SIGNUP: true
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
              OAUTH_PROVIDER_NAME: Authentik
              OPENID_PROVIDER_URL: https://auth.dmfrey.com/application/o/openweb/.well-known/openid-configuration
              # OAUTH_CLIENT_ID: in external secret
              # OAUTH_CLIENT_SECRET: in external secret
              OAUTH_SCOPES: openid email profile
              OPENID_REDIRECT_URI: https://openweb.dmfrey.com/oauth/oidc/callback

              # Postgres
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: openweb-cnpg-app
                    key: uri

              # Dragonfly (Redis)
              REDIS_URL: redis://openweb-dragonflydb.ai.svc.cluster.local/0
              THREAD_POOL_SIZE: 10
              ENABLE_WEBSOCKET_SUPPORT: true
              WEBSOCKET_MANAGER: redis
              WEBSOCKET_REDIS_URL: redis://openweb-dragonflydb.ai.svc.cluster.local/1

            envFrom:
              - secretRef:
                  name: openweb-secret

            resources:
              requests:
                cpu: 500m
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: 8080

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://openweb.dmfrey.com/health"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: AI
          gethomepage.dev/name: OpenWeb UI
          gethomepage.dev/icon: ollama.png
          gethomepage.dev/description: AI Model Management & Chat
        hostnames:
          - openweb.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:

      data:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}

      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
