---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openweb

spec:

  interval: 1h

  chartRef:
    kind: OCIRepository
    name: openweb

  maxHistory: 2

  install:
    remediation:
      retries: -1

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:

      *app :
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36-ollama

            env:
              WEBUI_NAME: OpenWeb UI
              WEBUI_URL: https://openweb.dmfrey.com
              DATA_DIR: /data
              OLLAMA_BASE_URL: http://ollama.ai.svc.cluster.local:11434
              # WEBUI_AUTH_TRUSTED_EMAIL_HEADER: X-authentik-email
              AUDIO_OPENAI_API_BASE_URL: https://piper.dmfrey.com/v1
              AUDIO_OPENAI_API_KEY: sk-111111111111 # fake key needed to make ui happy
              RAG_EMBEDDING_ENGINE: ollama

              # OAUTH
              ENABLE_OAUTH_SIGNUP: true
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
              OAUTH_PROVIDER_NAME: Authentik
              OPENID_PROVIDER_URL: https://auth.dmfrey.com/application/o/openweb/.well-known/openid-configuration
              # OAUTH_CLIENT_ID: in external secret
              # OAUTH_CLIENT_SECRET: in external secret
              OAUTH_SCOPES: openid email profile
              OPENID_REDIRECT_URI: https://openweb.dmfrey.com/oauth/oidc/callback

              # Postgres
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-openweb-app
                    key: uri

              # Dragonfly (Redis)
              ENABLE_WEBSOCKET_SUPPORT: true
              WEBSOCKET_MANAGER: redis
              WEBSOCKET_REDIS_URL: redis://openweb-kv-cluster.ai.svc.cluster.local

            envFrom:
              - secretRef:
                  name: openweb-secret

            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 1Gi

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 8080

    route:
      *app :
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
            url: "https://openweb.dmfrey.com/health"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: AI
          gethomepage.dev/name: OpenWeb UI
          gethomepage.dev/icon: ollama.png
          gethomepage.dev/description: AI Model Management & Chat
        hostnames:
          - openweb.dmfrey.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:

      data:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}

      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
